<!DOCTYPE html>
<html>
<head>
    <link href='https://fonts.googleapis.com/css?family=Rosario:400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <title>{{.Title}}</title>
</head>
<body>

<nav>
    <ul>
        <li><a href="https://www.patreon.com/ban_community"><img src="https://c5.patreon.com/external/favicon/apple-touch-icon.png" width=48></a></li>
        {{range .Nav}}
            <li>
                <a {{if .Active}}class="{{.Class}}"{{end}} href="{{.Link}}">
                    <span class="full-text">{{.Name}}</span>
                    <span class="short-text">{{.Short}}</span>
                </a>
            </li>
        {{end}}
        {{if eq .SellerShort "CK"}}
            <li class=optional>
                <form class="search" target="_blank" action="https://www.cardkingdom.com/catalog/search?utm_source={{.CKPartner}}&utm_medium=affiliate&utm_campaign={{.CKPartner}}">
                    <input type="hidden" id="partner" name="partner" value="{{.CKPartner}}">
                    <input class="w3-input w3-border-0 w3-round-small w3-animate-input" style="width:30%" onClick="this.setSelectionRange(0, this.value.length)" type="text" name="filter[name]" placeholder="Search CK..." value="">
                </form>
            </li>
        {{else if eq .SellerShort "TCG Low"}}
            <li class=optional>
                <form class="search" target="_blank" action="https://shop.tcgplayer.com/productcatalog/product/show?utm_campaign=affiliate&utm_medium={{.TCGAffiliate}}&utm_source={{.TCGAffiliate}}&partner=MTGBAN&IsProductNameExact=false">
                    <input type="hidden" id="partner" name="partner" value="{{.TCGAffiliate}}">
                    <input class="w3-input w3-border-0 w3-round-small w3-animate-input" style="width:30%" onClick="this.setSelectionRange(0, this.value.length)" type="text" name="ProductName" placeholder="Search TCG..." value="">
                </form>
            </li>
        {{else if eq .SellerShort "ABU"}}
            <li class=optional>
                <form class="search" target="_blank" action="https://abugames.com/magic-the-gathering/singles">
                    <input class="w3-input w3-border-0 w3-round-small w3-animate-input" style="width:30%" onClick="this.setSelectionRange(0, this.value.length)" type="text" name="search" placeholder="Search ABU..." value="">
                </form>
            </li>
        {{end}}
        <li>Last data refresh: {{.LastUpdate}}</li>
    </ul>
</nav>

<div class="mainbody">
    {{if ne .ErrorMessage ""}}
        <h1>{{.ErrorMessage}}</h1>
        {{if .ShowPromo}}
            <img class="center" src="img/promo/arbit.jpg">
        {{end}}
    {{else if eq .SellerShort ""}}
        <h1>Welcome to Arbitrage<a name="top">&nbsp;</a></h1>
        <div class="indent">
            <p>Please use the top bar to choose the seller to buy from.</p>
            <h2>Instructions</h2>
            <ul class="indent">
                <li>Data is refreshed periodically over the day.</li>
                <li>There is a minimum 10% spread and $0.2 difference for a card to be considered arbitrage.</li>
                <li>Always check validity of prices before committing anything, it is possible that prices or quantities changed.</li>
                <li>By default, arbitrage is computed on cash value, taking into account for condition whenever possible.</li>
                <li>Note that buylist prices are always displayed NM to make them easier to find, but the actual spread and difference is computer according to the card conditions.</li>
                <li>Each seller page will contain a list of vendors, with a brief summary at the top containing the number of arbitrage opportunities.</li>
                <li>In case of mistakes or incongruities, please notify the devs in the BAN Discord.</li>
                <li>Should you find this content useful, consider clicking on one of the provided links to make a purchase on the website, and directly support BAN.</li>
            </ul>
        </div>
    {{else}}
        <img id="hoverImage" src="" style="position:absolute; z-index: 2;"/>

        <script type="text/javascript">
            var hoverImage = document.getElementById("hoverImage");

            document.addEventListener("mousemove", getMouse);

            setInterval(followMouse, 10);

            var mouse = {x:0, y:0}; //mouse.x, mouse.y

            function getMouse(e){
                mouse.x = e.pageX+10;
                mouse.y = e.pageY+10;
            }

            function followMouse(){
                hoverImage.style.left = mouse.x + "px";
                hoverImage.style.top = mouse.y + "px";
            }
        </script>

        <h1>Arbitrage from {{.SellerFull}}</h1>
        <div class="indent">
            <h2><p>{{.InfoMessage}}</p></h2>
            {{if .Arb}}
                <div class="indent">
                    <p>
                        Jump to
                        {{range .Arb}}
                            <a class="btn normal" href="#{{.Name}}">{{.Name}} ({{.Len}})</a>
                        {{end}}
                    </p>
                    <p>
                        Show
                        {{if $.FilterCond}}
                            <a class="btn success" href="arbit?source={{$.SellerShort}}&sig={{$.Signature}}{{if $.FilterFoil}}&nofoil=true{{end}}"><b>only NM/SP</b></a>
                        {{else}}
                            <a class="btn normal" href="arbit?source={{$.SellerShort}}&nocond=true&sig={{$.Signature}}{{if $.FilterFoil}}&nofoil=true{{end}}">only NM/SP</a>
                        {{end}}
                        {{if $.FilterFoil}}
                            <a class="btn success" href="arbit?source={{$.SellerShort}}&sig={{$.Signature}}{{if $.FilterCond}}&nocond=true{{end}}"><b>only non-Foil</b></a>
                        {{else}}
                            <a class="btn normal" href="arbit?source={{$.SellerShort}}&nofoil=true&sig={{$.Signature}}{{if $.FilterCond}}&nocond=true{{end}}">only non-Foil</a>
                        {{end}}
                    </p>
                </div>
            {{end}}
            {{range .Arb}}
                <div class="sticky" style="top: 48px; background-color: #f8f8f8; z-index: 1;">
                    <span class="anchor" id="{{.Name}}"></span>
                    <h3 class="storename">{{.Name}}</a></h3>
                    <hr width=20%>
                </div>
                <script type='text/javascript'>
                    function sortBy(sort) {
                        window.location.href = "arbit?&source={{$.SellerShort}}&sort=" + sort + "&sig={{$.Signature}}{{if $.FilterCond}}&nocond=true{{end}}{{if $.FilterFoil}}&nofoil=true{{end}}#{{.Name}}";
                    }
                </script>
                <table onmouseout="document.getElementById('hoverImage').src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7';">
                    <tr>
                        <th class="stickyHeaderTiny">Card Name</th>
                        <th class="stickyHeaderTiny">Edition</th>
                        <th class="stickyHeaderTiny"><center>#</center></th>
                        <th class="stickyHeaderTiny">F/NF</th>
                        <th class="stickyHeaderTiny">Conditions</th>
                        {{if ne .Name "TCG Low"}}
                            <th class="stickyHeaderTiny">
                                <a href="javascript:sortBy('available')">Available</a>
                            </th>
                        {{end}}
                        <th class="stickyHeaderTiny">
                            <a href="javascript:sortBy('sell_price')">Sell Price</a>
                        </th>
                        <th class="stickyHeaderTiny">
                            <a href="javascript:sortBy('buy_price')">Buy Price</a>
                        </th>
                        <th class="stickyHeaderTiny">
                            <a href="javascript:sortBy('trade_price')">Trade Price</a>
                        </th>
                        <th class="stickyHeaderTiny">
                            <a href="javascript:sortBy('diff')">Difference</a>
                        </th>
                        <th class="stickyHeaderTiny">
                            <a href="javascript:sortBy('')">Spread</a>
                        </th>
                        <th class="stickyHeaderTiny">Price Ratio</th>
                        <th class="stickyHeaderTiny"><center>Quicklinks</center></th>
                    </tr>
                    {{$save := .}}
                    {{range .Arbit}}
                        <tr onmouseover="document.getElementById('hoverImage').src={{index $.Images .Card}};">
                            <td>
                                {{.Card.Name}}
                            </td>
                            <td>
                                {{.Card.Edition}}
                            </td>
                            <td>
                                {{.Card.Number}}
                            </td>
                            <td>
                                {{if .Card.Foil}}FOIL{{end}}
                            </td>
                            <td>
                                <center>{{.InventoryEntry.Conditions}}</center>
                            </td>
                            {{if ne $save.Name "TCG Low"}}
                                <td>
                                    <center>{{.InventoryEntry.Quantity}}</center>
                                </td>
                            {{end}}
                            <td>
                                $ {{.InventoryEntry.Price}}
                            </td>
                            <td>
                                $ {{.BuylistEntry.BuyPrice}}
                            </td>
                            <td>
                                $ {{printf "%.2f" .BuylistEntry.TradePrice}}
                            </td>
                            <td>
                                $ {{printf "%.2f" .Difference}}
                            </td>
                            <td>
                                {{printf "%.2f" .Spread}} %
                            </td>
                            <td>
                                <center>
                                {{printf "%.2f" .BuylistEntry.PriceRatio}} %
                                </center>
                            </td>
                            <td>
                                <center>
                                    {{if ne .InventoryEntry.URL ""}}
                                        <a class="btn normal" href="{{.InventoryEntry.URL}}" target="_blank">Buy</a>
                                    {{end}}
                                    {{if ne .BuylistEntry.URL ""}}
                                        <a class="btn normal" href="{{.BuylistEntry.URL}}" target="_blank">Sell</a>
                                    {{end}}
                                </center>
                            </td>
                        </tr>
                    {{end}}
                    <tr style="background-color: #f8f8f8;">
                        <td colspan={{if eq .Name "TCG Low"}}12{{else}}13{{end}}>
                            <p style="float: left;">
                                <i>Last update: {{.LastUpdate}}</i>
                            </p>

                            <a class="btn default" style="float: right;" href="#top">back to top</a>
                            {{if eq .Name "ABU Games"}}
                                {{if $.UseCredit}}
                                    <a class="btn success" style="float: right;" href="arbit?source={{$.SellerShort}}&sig={{$.Signature}}">Return to Cash Arbitrage</a>
                                {{else}}
                                    <a class="btn warning" style="float: right;" href="arbit?source={{$.SellerShort}}&credit=true&sig={{$.Signature}}">Check Credit Arbitrage</a>
                                {{end}}
                            {{end}}
                        </td>
                    </tr>
                </table>
                <br>
            {{end}}
        </div>
        <br>
        <p>
            {{if or (eq .SellerFull "Card Kingdom") (eq .SellerFull "TCG Low")}}
                By visiting {{.SellerFull}} through the links on this page you're supporting the continuos development of this site ♥
            {{end}}
        </p>
        <br>
    {{end}}
</div>
</body>
</html>
