<!DOCTYPE html>
<html>
<head>
    <link href='https://fonts.googleapis.com/css?family=Rosario:400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <link href="//cdn.jsdelivr.net/npm/keyrune@latest/css/keyrune.css" rel="stylesheet" type="text/css" />
    <title>{{.Title}}</title>
</head>
<body>

<nav>
    <ul>
        <li><a href="https://www.patreon.com/ban_community"><img src="img/misc/patreon.png" width=48></a></li>
        <li><a href="https://discord.gg/hcXpMZB"><img src="img/misc/discord.png" width=48></a></li>
        {{range .Nav}}
            <li>
                <a {{if .Active}}class="{{.Class}}"{{end}} href="{{.Link}}">
                    <span class="full-text">{{.Name}}</span>
                    <span class="short-text">{{.Short}}</span>
                </a>
            </li>
        {{end}}
        <li>Last data refresh: {{.LastUpdate}}</li>
    </ul>
</nav>

<div class="mainbody">
    {{if ne .ErrorMessage ""}}
        <h1>{{.ErrorMessage}}</h1>
        {{if .ShowPromo}}
            <img class="center" src="img/promo/arbit.jpg">
        {{end}}
    {{else if eq .SellerShort ""}}
        <h1>Welcome to {{.Title}}<a name="top">&nbsp;</a></h1>
        <div class="indent">
            {{if .GlobalMode}}
                <p>Please use the top bar to choose the index to compare from.</p>
            {{else}}
                <p>Please use the top bar to choose the seller to buy from.</p>
            {{end}}
            <h2>Instructions</h2>
            <ul class="indent">
                <li>Data is refreshed periodically over the day.</li>
                <li>There is a minimum spread and difference amount for a card to be included in the list.</li>
                <li>Always check validity of prices before committing anything, it is possible that prices or quantities changed.</li>
                <li>By default, arbitrage is computed on cash value, taking into account for condition whenever possible.</li>

                {{if .GlobalMode}}
                    <li>Each page will provide a list of cards that can be arbitraged from, according to the value reported from other markets.</li>
                {{else}}
                    <li>Note that buylist prices are always displayed NM to make them easier to find, but the actual spread and difference is computer according to the card conditions.</li>
                    <li>Each seller page will contain a list of vendors, with a brief summary at the top containing the number of arbitrage opportunities.</li>
                {{end}}
                <li>In case of mistakes or incongruities, please notify the devs in the BAN Discord.</li>
                <li>Should you find this content useful, consider clicking on one of the provided links to make a purchase on the website, and directly support BAN.</li>
            </ul>
        {{if ne .InfoMessage ""}}
            <br>
            <h2><p>{{.InfoMessage}}</p></h2>
        {{end}}
        </div>
    {{else}}
        <img id="hoverImage" src="" style="position:absolute; z-index: 3;"/>

        <script type="text/javascript">
            var hoverImage = document.getElementById("hoverImage");

            document.addEventListener("mousemove", getMouse);

            setInterval(followMouse, 10);

            var mouse = {x:0, y:0}; //mouse.x, mouse.y

            function getMouse(e){
                mouse.x = e.pageX+10;
                mouse.y = e.pageY+10;
            }

            function followMouse(){
                hoverImage.style.left = mouse.x + "px";
                hoverImage.style.top = mouse.y + "px";
            }
        </script>

        {{if .GlobalMode}}
            <h1>Market Imbalance in {{.SellerFull}}</h1>
        {{else}}
            <h1>Arbitrage from {{.SellerFull}}</h1>
        {{end}}
        <div class="indent">
            <div class="indent" style="max-width: 85%;">
                <p>
                    Jump to
                    {{if .Arb}}
                        {{range .Arb}}
                            <a class="btn normal" href="#{{.Name}}">{{.Name}} ({{.Len}})</a>
                        {{end}}
                    {{else}}
                        <a class="btn normal" href="javascript:history.back()">¯\_(ツ)_/¯</a>
                    {{end}}
                </p>
                <p>
                    Show
                    {{if not .GlobalMode}}
                        <a class="btn {{if $.FilterCond}}success{{else}}normal{{end}}" href="?source={{$.SellerShort}}&sort={{$.SortOption}}&credit={{$.UseCredit}}&nocond={{not $.FilterCond}}&nofoil={{$.FilterFoil}}&nocomm={{$.FilterComm}}&noposi={{$.FilterNega}}&nopenny={{$.FilterPenny}}&nolow={{$.FilterSpread}}&noqty={{$.FilterQuantity}}">only NM/SP</a>
                    {{end}}
                    <a class="btn {{if $.FilterFoil}}success{{else}}normal{{end}}" href="?source={{$.SellerShort}}&sort={{$.SortOption}}&credit={{$.UseCredit}}&nocond={{$.FilterCond}}&nofoil={{not $.FilterFoil}}&nocomm={{$.FilterComm}}&noposi={{$.FilterNega}}&nopenny={{$.FilterPenny}}&nolow={{$.FilterSpread}}&noqty={{$.FilterQuantity}}">only non-Foil</a>
                    <a class="btn {{if $.FilterComm}}success{{else}}normal{{end}}" href="?source={{$.SellerShort}}&sort={{$.SortOption}}&credit={{$.UseCredit}}&nocond={{$.FilterCond}}&nofoil={{$.FilterFoil}}&nocomm={{not $.FilterComm}}&noposi={{$.FilterNega}}&nopenny={{$.FilterPenny}}&nolow={{$.FilterSpread}}&noqty={{$.FilterQuantity}}">only Rare/Mythic</a>
                    {{if not .GlobalMode}}
                        <a class="btn {{if $.FilterNega}}success{{else}}normal{{end}}" href="?source={{$.SellerShort}}&sort={{$.SortOption}}&credit={{$.UseCredit}}&nocond={{$.FilterCond}}&nofoil={{$.FilterFoil}}&nocomm={{$.FilterComm}}&noposi={{not $.FilterNega}}&nopenny={{$.FilterPenny}}&nolow={{$.FilterSpread}}&noqty={{$.FilterQuantity}}">only Negative</a>
                    {{end}}
                    <a class="btn {{if $.FilterPenny}}success{{else}}normal{{end}}" href="?source={{$.SellerShort}}&sort={{$.SortOption}}&credit={{$.UseCredit}}&nocond={{$.FilterCond}}&nofoil={{$.FilterFoil}}&nocomm={{$.FilterComm}}&noposi={{$.FilterNega}}&nopenny={{not $.FilterPenny}}&nolow={{$.FilterSpread}}&noqty={{$.FilterQuantity}}">only Bucks+</a>
                    <a class="btn {{if $.FilterSpread}}success{{else}}normal{{end}}" href="?source={{$.SellerShort}}&sort={{$.SortOption}}&credit={{$.UseCredit}}&nocond={{$.FilterCond}}&nofoil={{$.FilterFoil}}&nocomm={{$.FilterComm}}&noposi={{$.FilterNega}}&nopenny={{$.FilterPenny}}&nolow={{not $.FilterSpread}}&noqty={{$.FilterQuantity}}">only Yield+</a>
                    {{if not .GlobalMode}}
                        <a class="btn {{if $.FilterQuantity}}success{{else}}normal{{end}}" href="?source={{$.SellerShort}}&sort={{$.SortOption}}&credit={{$.UseCredit}}&nocond={{$.FilterCond}}&nofoil={{$.FilterFoil}}&nocomm={{$.FilterComm}}&noposi={{$.FilterNega}}&nopenny={{$.FilterPenny}}&nolow={{$.FilterSpread}}&noqty={{not $.FilterQuantity}}">only Quantity+</a>
                    {{end}}
                </p>
            </div>

            {{if ne .InfoMessage ""}}
                <h2><p>{{.InfoMessage}}</p></h2>
            {{end}}

            <script type='text/javascript'>
                function sortBy(sort, name) {
                    window.location.href = "?&source={{$.SellerShort}}&credit={{$.UseCredit}}&nocond={{$.FilterCond}}&nofoil={{$.FilterFoil}}&nocomm={{$.FilterComm}}&noposi={{$.FilterNega}}&nopenny={{$.FilterPenny}}&sort=" + sort + "#" + name;
                }
            </script>
            {{range .Arb}}
                <div class="sticky" style="top: 48px; background-color: #f8f8f8;">
                    <span class="anchor" id="{{.Name}}"></span>
                    <h3 class="storename">{{.Name}}</a></h3>
                    <hr width=20%>
                </div>

                <table onmouseout="document.getElementById('hoverImage').src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7';">
                    <tr>
                        <th class="stickyHeaderTiny">Card Name</th>
                        <th class="stickyHeaderTiny">Edition</th>
                        <th class="stickyHeaderTiny"><center>#</center></th>
                        <th class="stickyHeaderTiny">F/NF</th>
                        {{if not .HasConditions}}
                            <th class="stickyHeaderTiny">Conditions</th>
                        {{end}}
                        {{if not $.SellerNoAvailable}}
                            <th class="stickyHeaderTiny">
                                <a href="javascript:sortBy('available', '{{.Name}}')">Available</a>
                            </th>
                        {{end}}
                        <th class="stickyHeaderTiny">
                            <a href="javascript:sortBy('sell_price', '{{.Name}}')">
                                {{if $.GlobalMode}}
                                    {{$.SellerShort}}
                                {{else}}
                                    Sell Price
                                {{end}}
                            </a>
                        </th>
                        <th class="stickyHeaderTiny">
                            <a href="javascript:sortBy('buy_price', '{{.Name}}')">
                                {{if $.GlobalMode}}
                                    {{.Name}}
                                {{else}}
                                    Buy Price
                                {{end}}
                            </a>
                        </th>
                        {{$save := .}}
                        {{if .HasCredit}}
                            <th class="stickyHeaderTiny">
                                <a href="javascript:sortBy('trade_price', '{{.Name}}')">Trade Price</a>
                            </th>
                        {{end}}
                        <th class="stickyHeaderTiny">
                            <a href="javascript:sortBy('diff', '{{.Name}}')">Difference</a>
                        </th>
                        <th class="stickyHeaderTiny">
                            <a href="javascript:sortBy('', '{{.Name}}')">Spread</a>
                        </th>
                        {{if not $.GlobalMode}}
                            <th class="stickyHeaderTiny">Price Ratio</th>
                        {{end}}
                        <th class="stickyHeaderTiny"><center>Quicklinks</center></th>
                    </tr>
                    {{range .Arbit}}
                        <tr onmouseover="document.getElementById('hoverImage').src={{(index $.Metadata .CardId).ImageURL}};">
                            <td>
                                <a href="{{(index $.Metadata .CardId).SearchURL}}">{{(index $.Metadata .CardId).Name}}</a>{{if (index $.Metadata .CardId).Reserved}} *{{end}}{{if (index $.Metadata .CardId).Stocks}} •{{end}}
                            </td>
                            <td>
                                <i class="ss {{(index $.Metadata .CardId).Keyrune}} ss-1x ss-fw"></i> {{(index $.Metadata .CardId).Edition}}
                            </td>
                            <td>
                                {{(index $.Metadata .CardId).Number}}
                            </td>
                            <td>
                                {{if (index $.Metadata .CardId).Foil}}FOIL{{end}}
                            </td>
                            {{if not $save.HasConditions}}
                                <td>
                                    <center>{{.InventoryEntry.Conditions}}</center>
                                </td>
                            {{end}}
                            {{if not $.SellerNoAvailable}}
                                <td>
                                    <center>
                                        {{.InventoryEntry.Quantity}}
                                        {{if ne .BuylistEntry.Quantity 0}}
                                            / {{.BuylistEntry.Quantity}}
                                        {{end}}
                                    </center>
                                </td>
                            {{end}}
                            <td>
                                $ {{printf "%.2f" .InventoryEntry.Price}}
                            </td>
                            <td>
                                {{if eq .BuylistEntry.BuyPrice 0.0}}
                                    $ {{printf "%.2f" .ReferenceEntry.Price}}
                                {{else}}
                                    $ {{printf "%.2f" .BuylistEntry.BuyPrice}}
                                {{end}}
                            </td>
                            {{if $save.HasCredit}}
                                <td>
                                    $ {{printf "%.2f" .BuylistEntry.TradePrice}}
                                </td>
                            {{end}}
                            <td>
                                $ {{printf "%.2f" .Difference}}
                            </td>
                            <td>
                                {{printf "%.2f" .Spread}} %
                            </td>
                            {{if not $.GlobalMode}}
                                <td>
                                    <center>
                                    {{printf "%.2f" .BuylistEntry.PriceRatio}} %
                                    </center>
                                </td>
                            {{end}}
                            <td>
                                <center>
                                    {{if ne .InventoryEntry.URL ""}}
                                        <a class="btn normal" href="{{.InventoryEntry.URL}}" target="_blank" rel="nofollow">Buy</a>
                                    {{end}}
                                    {{if ne .BuylistEntry.URL ""}}
                                        <a class="btn normal" href="{{.BuylistEntry.URL}}" target="_blank" rel="nofollow">Sell</a>
                                    {{end}}
                                    {{if ne .ReferenceEntry.URL ""}}
                                        <a class="btn normal" href="{{.ReferenceEntry.URL}}" target="_blank" rel="nofollow">Buy</a>
                                    {{end}}
                                </center>
                            </td>
                        </tr>
                    {{end}}
                    <tr style="background-color: #f8f8f8;">
                        <td colspan={{if $.SellerNoAvailable}}12{{else}}13{{end}}>
                            <p style="float: left;">
                                <i>Last update: {{.LastUpdate}}</i>
                            </p>

                            <a class="btn default" style="float: right;" href="#top">back to top</a>
                            {{if eq .Name "ABU Games"}}
                                <a class="btn {{if $.UseCredit}}success{{else}}warning{{end}}" style="float: right;" href="?source={{$.SellerShort}}&sort={{$.SortOption}}&credit={{not $.UseCredit}}&nocond={{$.FilterCond}}&nofoil={{$.FilterFoil}}&nocomm={{$.FilterComm}}&noposi={{$.FilterNega}}&nopenny={{$.FilterPenny}}">{{if $.UseCredit}}Return to Cash Arbitrage{{else}}Check Credit Arbitrage{{end}}</a>
                            {{end}}
                        </td>
                    </tr>
                </table>
            {{end}}

            {{if .HasReserved}}
                <h4>* = Part of the <a href="https://mtg.gamepedia.com/Reserved_List">Reserved List</a></h4>
            {{end}}
            {{if .HasStocks}}
                <h4>• = On <a href="https://mtgstocks.com/interests">MTGStocks Interests</a> page</h4>
            {{end}}
        </div>
        <br>
        <p>
            {{if .SellerAffiliate}}
                By visiting {{.SellerFull}} through the links on this page you're supporting the continuous development of this site ♥
            {{end}}
        </p>
        <br>
    {{end}}
</div>
</body>
</html>
