<!DOCTYPE html>
<html>
<head>
    <link href='https://fonts.googleapis.com/css?family=Rosario:400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <title>{{.Title}}</title>
</head>
<body>

<nav>
    <ul>
        <li><a href="/">Back</a></li>
        <li><a {{if eq .VendorShort "CK"}}class="active"{{end}} href="arbit?seller={{.SellerShort}}{{if ne .SellerShort "CK"}}&vendor=CK{{end}}">Cardkingdom</a></li>
        <li><a {{if eq .VendorShort "MM"}}class="active"{{end}} href="arbit?seller={{.SellerShort}}{{if ne .SellerShort "MM"}}&vendor=MM{{end}}">Miniature Market</a></li>
        <li><a {{if eq .VendorShort "SZ"}}class="active"{{end}} href="arbit?seller={{.SellerShort}}{{if ne .SellerShort "SZ"}}&vendor=SZ{{end}}">Strikezone</a></li>
        <li><a {{if eq .VendorShort "CFB"}}class="active"{{end}} href="arbit?seller={{.SellerShort}}{{if ne .SellerShort "CFB"}}&vendor=CFB{{end}}">Channel Fireball</a></li>
        <li><a {{if eq .VendorShort "ABU"}}class="active"{{end}} href="arbit?seller={{.SellerShort}}{{if ne .SellerShort "ABU"}}&vendor=ABU{{end}}">ABUGames</a></li>
        {{if eq .SellerShort "CK"}}
            <li>
                <form class="search" target="_blank" action="https://www.cardkingdom.com/catalog/search?utm_source={{.CKPartner}}&utm_medium=affiliate&utm_campaign={{.CKPartner}}">
                    <input type="hidden" id="partner" name="partner" value="{{.CKPartner}}">
                    <input class="w3-input w3-border-0 w3-round-small w3-animate-input" style="width:30%" type="text" name="filter[name]" placeholder="Search CK..." value="">
                </form>
            </li>
        {{end}}
    </ul>
</nav>

<div class="mainbody">
    {{if ne .ErrorMessage ""}}
        <h1>{{.ErrorMessage}}</h1>
    {{else if eq .VendorShort .SellerShort}}
        <h1>Welcome to {{.SellerFull}} Arbitrage</h1>
        <div class="indent">
            <p>Please use the top bar to navigate across vendors.</p>

            <h2>Instructions</h2>
            <ul class="indent">
                <li>Data is refreshed periodically over the day.</li>
                <li>There is a minimum 10% spread and $0.2 difference for a card to be considered arbitrage.</li>
                <li>Always check validity of prices before committing anything.</li>
                <li>By default, arbitrage is computed on cash value, but it is possible to use the credit value by clickling on the option to do so.</li>
                <li>You may download a standardized version of the buylist in CSV format, mapped to a <a href="www.mtgjson.com">MTGJSON database</a>.</li>
                <li>In case of mistakes of incongruities, please notify the devs in the BAN Discord.</li>
                <li>Should you find this content useful, consider clicking on one of the provided links to make a purchase on the website, and directly support BAN.</li>
            </ul>
            <a class="btn normal" href="arbit?seller={{.SellerShort}}{{if .UseCredit}}&credit=true{{end}}&action=dlbl" download="{{.VendorUpdate}}_{{.SellerShort}}_Buylist.csv">Download CSV</a>
        </div>
    {{else}}
        <h1>Arbitrage from {{.SellerFull}} to {{.VendorFull}}</h1>
        <div class="indent">
            <h2><p>{{.InfoMessage}}</p></h2>

            <table>
                <tr>
                    <td colspan=11>
                        {{if eq .SellerShort "CK"}}
                            <form class="buildcart" target="_blank" id="build-cart" method="POST" action="https://www.cardkingdom.com/builder?utm_source={{.CKPartner}}&utm_medium=deck&utm_campaign={{.CKPartner}}">
                                <button name="cart" class="btn normal" value="value" type="text" onClick="document.forms[0].submit();">Build a Cart with this selection</button>
                                <input type="hidden" name="c" id="cart-list" value="">
                                <input type="hidden" name="partner" value="{{.CKPartner}}">
                            </form>
                        {{end}}
                        {{if .UseCredit}}
                            <a class="btn success" style="float: right;" href="arbit?seller={{.SellerShort}}&vendor={{.VendorShort}}">Back to Cash Arbitrage</a>
                        {{else}}
                            <a class="btn warning" style="float: right;" href="arbit?seller={{.SellerShort}}&vendor={{.VendorShort}}&credit=true">Check Credit Arbitrage</a>
                        {{end}}
                    </td>
                </tr>
                <tr>
                    <th>Card Name</th>
                    <th>Edition</th>
                    <th>F/NF</th>
                    <th>Conditions</th>
                    <th>Sell Price</th>
                    <th>Buy Price</th>
                    <th>Trade Price</th>
                    <th>Difference</th>
                    <th>Spread</th>
                    <th>Price Ratio</th>
                    <th><center>Quicklinks</center></th>
                </tr>
                {{range .Arb}}
                    <tr>
                        <td>
                            {{.BuylistEntry.Card.Name}}
                            {{if eq $.SellerShort "CK"}}
                                <script type='text/javascript'>
                                    document.getElementById('cart-list').value += "{{.BuylistEntry.Card.Name}}||"
                                </script>
                            {{end}}
                        </td>
                        <td>
                            {{.BuylistEntry.Card.Set}}
                        </td>
                        <td>
                            {{if .BuylistEntry.Card.Foil}}FOIL{{end}}
                        </td>
                        <td>
                            <center>{{.InventoryEntry.Conditions}}</center>
                        </td>
                        <td>
                            $ {{.InventoryEntry.Price}}
                        </td>
                        <td>
                            $ {{.BuylistEntry.BuyPrice}}
                        </td>
                        <td>
                            $ <script type='text/javascript'>
                                document.write(Math.floor({{.BuylistEntry.TradePrice}} * 100)/100)
                            </script>
                        </td>
                        <td>
                            $ <script type='text/javascript'>
                                document.write(Math.floor({{.Difference}} * 100)/100)
                            </script>
                        </td>
                        <td>
                            <script type='text/javascript'>
                                document.write(Math.floor({{.Spread}} * 100)/100)
                            </script>%
                        </td>
                        <td>
                            <center>
                            <script type='text/javascript'>
                                document.write(Math.floor({{.BuylistEntry.PriceRatio}} * 100)/100)
                            </script>%
                            </center>
                        </td>
                        <td>
                            <center>
                                {{if ne .InventoryEntry.Notes ""}}
                                    <a class="btn normal" href="{{.InventoryEntry.Notes}}" target="_blank">Buy</a>
                                {{end}}
                                {{if ne .BuylistEntry.Notes ""}}
                                    <a class="btn normal" href="{{.BuylistEntry.Notes}}" target="_blank">Sell</a>
                                {{end}}
                            </center>
                        </td>
                    </tr>
                {{end}}
            </table>
        <a class="btn normal" href="arbit?seller={{.SellerShort}}&vendor={{.VendorShort}}{{if .UseCredit}}&credit=true{{end}}&action=csv" download="{{.LastUpdate}}_{{.SellerShort}}-to-{{.VendorShort}}_{{if .UseCredit}}Credit{{end}}Arbitrage.csv">Download CSV</a>
        </div>
        <br>
        <p>
            Last inventory update: {{.SellerUpdate}}<br>
            Last buylist update: {{.VendorUpdate}}<br>
            {{if eq .SellerShort "CK"}}
            By visiting Card Kingdom through the links on this page you're supporting the continuos development of this site ♥
            {{end}}
        </p>
        <br>
    {{end}}
</div>
</body>
</html>
