<!DOCTYPE html>
<html>
<head>
    <link href='https://fonts.googleapis.com/css?family=Rosario:400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <link href="//cdn.jsdelivr.net/npm/keyrune@latest/css/keyrune.css" rel="stylesheet" type="text/css" />
    <title>{{.Title}}</title>
    <script type="text/javascript" src="../js/autocomplete.js"></script>
    <script type="text/javascript" src="../js/fetchnames.js"></script>
</head>

<body class="light-theme">
<script type="text/javascript" src="../js/themechecker.js"></script>
<nav>
    <ul>
        <li><a href="https://www.patreon.com/ban_community"><img src="img/misc/patreon.png" width=48></a></li>
        <li><a href="https://discord.gg/hcXpMZB"><img src="img/misc/discord.png" width=48></a></li>
        {{range .Nav}}
            <li>
                <a {{if .Active}}class="{{.Class}}"{{end}} href="{{.Link}}">
                    <span>{{.Short}} {{.Name}}</span>
                </a>
            </li>
        {{end}}
        <li>
            <label class="switch">
                <div>
                    <input type="checkbox"/>
                    <span class="slider"></span>
                </div>
                <script type="text/javascript" src="../js/nightmode.js"></script>
            </label>
        </li>
    </ul>
</nav>

<div class="mainbody">
    {{if ne .ErrorMessage ""}}
        <h1>{{.ErrorMessage}}</h1>
        {{if .ShowPromo}}
            <img class="center" src="img/promo/wip.jpg">
        {{end}}
    {{else}}
        <h1>Welcome to BAN Explore</h1>

        <script type="text/javascript">
            var sites = [];
            sites.push("/explore?site=1");
            sites.push("/explore?site=2");
            sites.push("/explore?site=3");
            sites.push("/explore?site=4");
            sites.push("/explore?site=5");

            function openWindow(value, index, array) {
                let link     = document.createElement('a');
                link.href    = value + "&q="+ document.getElementById('searchbox').value;
                link.target  = '_blank';
                setTimeout(link.click(), 1000);
            }
        </script>

        <div class="indent">
        <h3>Search across a multitude of MTG stores</h3>
            <form class="search autocomplete" autocomplete="off" id="searchform" onSubmit="javascript:sites.reverse().forEach(openWindow)">
                <input id="searchbox" class="w3-input w3-border w3-round-small search-input" onFocus="this.setSelectionRange(0, this.value.length)" type="text" name="q" placeholder="Enter a card name or anything really" value="{{.SearchQuery}}">
            </form>
        </div>

        <script type="text/javascript">
            autocomplete(document.getElementById("searchform"), document.getElementById("searchbox"));
        </script>

        <div class="indent" style="max-width: 700px;">
            <h2>Instructions</h2>
            <br>
            <ul class="indent">
                <li>This tool allows you to search for cards or sealed across a wide range of websites, by opening a bunch of tabs in the background from a single query.</li>
                <li>Contrary to the <a href="search">Search tool</a>, you will get only retail results, but they will be live from the seller site. You may find some gems, especially after a card spiked!</li>
                <li>Works in <i>Firefox</i> out of the box, in <i>Chrome</i> it may need to get a special permission: follow the steps here <a href="https://support.google.com/chrome/answer/95472">Allow pop-ups from a site</a>, and enable popups for mtgban.com.<br>
                    It does not work in <i>Safari</i>, and it is untested elsewhere.</li>
                <li>Note that this may be a very resource-intensive operation, and may crash your browser if you try to open too many tabs at once.</li>
            </ul>
        </div>
    {{end}}
    <br>
</div>
</body>
</html>
