<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="../css/main.css">
<link href='https://fonts.googleapis.com/css?family=Rosario:400' rel='stylesheet' type='text/css'>
<title>{{.Title}}</title>
</head>
<body>
    <nav>
    <ul>
        <li><a href="https://www.patreon.com/ban_community"><img src="https://c5.patreon.com/external/favicon/apple-touch-icon.png" width=48></a></li>
        {{range .Nav}}
            <li><a {{if .Active}}class="{{.Class}}"{{end}} href="{{.Link}}">{{.Name}}</a></li>
        {{end}}
        <li>Last data refresh: {{.LastUpdate}}</li>
    </ul>
    </nav>

    <div class="bg">
        <div class="mainbody">
            <h1>BETA</h1>
        </div>
    </div>

    <div class="footer">&copy; 2019-2020 BAN Team - Patreon: <a href="https://www.patreon.com/ban_community">Ban Community</a><br>
        This website is not affiliated with Wizards of the Coast or any other data provider.<br>
        Data is provided for informational purpose only, and does not provide financial advice.
    </div>

    {{if ne .ErrorMessage ""}}
        <h1>{{.ErrorMessage}}</h1>
    {{end}}

    <br>
    <div class="indent">
        {{if or (eq .Signature "") (.PatreonLogin)}}
            <a href="http://www.patreon.com/oauth2/authorize?response_type=code&client_id={{.PatreonId}}&redirect_uri={{.PatreonURL}}&scope=identity%20identity%5Bemail%5D%20campaigns%20campaigns.members"><img src="../img/misc/login.png"></a>
        {{else}}
            <a href="/"><img src="../img/misc/logout.png"></a>
        {{end}}
    </div>
</body>
</html>
