<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <link href='https://fonts.googleapis.com/css?family=Rosario:400' rel='stylesheet' type='text/css'>
    <meta name='impact-site-verification' value='77b54a05-53ed-42d4-b087-cb40fa950018' />
    <title>{{.Title}}</title>
</head>

<body class="light-theme">
<script type="text/javascript" src="../js/themechecker.js"></script>
    <nav>
    <ul>
        <li><a href="https://www.patreon.com/ban_community"><img src="img/misc/patreon.png" width=48></a></li>
        <li><a href="/discord"><img src="img/misc/discord.png" width=48></a></li>
        {{range .Nav}}
            <li>
                <a {{if .Active}}class="{{.Class}}"{{end}} href="{{.Link}}">
                    <span>{{.Short}} {{.Name}}</span>
                </a>
            </li>
        {{end}}
        <li><!--If you're reading this, and would like to help, join our Discord, it's the right place for any talented developer with a passion for mtg!--></li>
        <li>
            <label class="switch">
                <div>
                    <input type="checkbox"/>
                    <span class="slider"></span>
                </div>
                <script type="text/javascript" src="../js/nightmode.js"></script>
            </label>
        </li>
    </ul>
    </nav>

    <div class="bg">
        <div class="mainbody">
            <h1>KAPPA</h1>
        </div>
    </div>

    <div class="footer">&copy; 2019-2023 MTGBAN Limited<br>
        <br><hr width=30% style="border: 1px dotted;">
        This website follows Wizards of the Coast's <a href="https://company.wizards.com/fancontentpolicy">Fan Content Policy</a>.<br>
        Card imagery and schematics are powered by <a href="https://scryfall.com">Scryfall</a> and <a href="https://mtgjson.com">MTGJSON</a>.<br>
        Cookies may be in use to ensure correct functionality of the platform.<br>
        Content is provided for informational purpose only, make sure to do your own research.<br>
    </div>

    {{if ne .ErrorMessage ""}}
        <h1>{{.ErrorMessage}}</h1>
    {{end}}

    <br>
    <div class="indent">
        {{if .EnableFree}}
            <h2>
                This is an <strong>experimental</strong> public release. To experience enhanced functionality, head over to www.mtgban.com by subscribing <a href="stripe.html">here</a>!
            </h2>
        {{else}}
            {{if .PatreonLogin}}
                <script type="text/javascript">
                    function getPatreonURL () {
                        return "http://www.patreon.com/oauth2/authorize?response_type=code&client_id={{.PatreonId}}&redirect_uri={{.PatreonURL}}&scope=identity%20identity%5Bemail%5D%20campaigns%20campaigns.members&state=" + encodeURIComponent(window.location.href)
                    }
                </script>
                <a href="javascript:location.replace(getPatreonURL())">
                    <img src="../img/misc/login.png" width=360 height=60>
                </a>
            {{else}}
                <a href="/?errmsg=logout"><img src="../img/misc/logout.png" width=236 height=60></a>
            {{end}}
        {{end}}
    </div>
</body>
</html>
