<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="../css/main.css">
<link href='https://fonts.googleapis.com/css?family=Rosario:400' rel='stylesheet' type='text/css'>
<title>{{.Title}}</title>
</head>

<body class="light-theme">
<script type="text/javascript" src="../js/themechecker.js"></script>
    <nav>
    <ul>
        <li><a href="https://www.patreon.com/ban_community"><img src="img/misc/patreon.png" width=48></a></li>
        <li><a href="https://discord.gg/hcXpMZB"><img src="img/misc/discord.png" width=48></a></li>
        {{range .Nav}}
            <li>
                <a {{if .Active}}class="{{.Class}}"{{end}} href="{{.Link}}">
                    <span>{{.Short}} {{.Name}}</span>
                </a>
            </li>
        {{end}}
        <li><!--If you're reading this, and would like to help, join our Discord, it's the right place for any talented developer with a passion for mtg!--></li>
        <li>
            <label class="switch">
                <div>
                    <input type="checkbox"/>
                    <span class="slider"></span>
                </div>
                <script type="text/javascript" src="../js/nightmode.js"></script>
            </label>
        </li>
    </ul>
    </nav>

    <div class="bg">
        <div class="mainbody">
            <h1>EPSILON</h1>
        </div>
    </div>

    <div class="footer">&copy; 2019-2021 BAN Team - Patreon: <a href="https://www.patreon.com/ban_community">Ban Community</a><br>
        <br><hr width=30% style="border: 1px dotted;">
        This website follows Wizards of the Coast's <a href="https://company.wizards.com/fancontentpolicy">Fan Content Policy</a>.<br>
        Card imagery and schematics are powered by <a href="https://scryfall.com">Scryfall</a> and <a href="https://mtgjson.com">MTGJSON</a>.<br>
        Cookies may be in use to ensure correct functionality of the platform.<br>
        Content is provided for informational purpose only, make sure to do your own research.<br>
    </div>

    {{if ne .ErrorMessage ""}}
        <h1>{{.ErrorMessage}}</h1>
    {{end}}

    <br>
    <div class="indent">
        {{if .PatreonLogin}}
            <a href="http://www.patreon.com/oauth2/authorize?response_type=code&client_id={{.PatreonId}}&redirect_uri={{.PatreonURL}}&scope=identity%20identity%5Bemail%5D%20campaigns%20campaigns.members"><img src="../img/misc/login.png" width=360 height=60></a>
        {{else}}
            <a href="/?errmsg=logout"><img src="../img/misc/logout.png" width=236 height=60></a>
        {{end}}
    </div>
</body>
</html>
