<!DOCTYPE html>
<html>
<head>
    <link href='https://fonts.googleapis.com/css?family=Rosario:400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <link href="//cdn.jsdelivr.net/npm/keyrune@latest/css/keyrune.css" rel="stylesheet" type="text/css" />
    <title>BAN Newspaper - {{.Title}}</title>
</head>
<body>

<nav>
    <ul>
        <li><a href="https://www.patreon.com/ban_community"><img src="img/misc/patreon.png" width=48></a></li>
        <li><a href="https://discord.gg/hcXpMZB"><img src="img/misc/discord.png" width=48></a></li>
        {{range .Nav}}
            <li>
                <a {{if .Active}}class="{{.Class}}"{{end}} href="{{.Link}}">
                    <span>{{.Name}}</span>
                </a>
            </li>
        {{end}}
        <li>Last data refresh: {{.LastUpdate}}</li>
    </ul>
</nav>

<div class="mainbody">
    {{if ne .ErrorMessage ""}}
        <h1>{{.ErrorMessage}}</h1>
        {{if .ShowPromo}}
            <img class="center" src="img/promo/arbit.jpg">
        {{end}}
    {{else}}
        <h1>Welcome to BAN Newspaper{{if .IsOneDay}}, <i>early edition</i>{{end}}</h1>
        <div class="indent" style="max-width: 1000px;">
            <h2>Table of contents</h2>
            <ol class="indent index">
                {{range .ToC}}
                <li>
                    <a href="newspaper?page={{.Option}}">{{.Title}}</a>
                </li>
                {{end}}
            </ol>
        </div>

        <div style="clear:both;"></div>

        {{if eq .Title "Index"}}
            <div class="indent" style="max-width: 900px;">
                <br>
                <p class="indent">
                    Your patronage gives you access to the
                    {{if .IsOneDay}}
                        <i>early edition</i>, aka the 1-day newspaper.
                    {{else}}
                        3-day newspaper.
                    {{end}}
                </p>
                <h3>Instructions</h3>
                <ul class="indent">
                    <li>The Market Review provides an overall market health overview.</li>
                    <li>Pages 2 and 3 show you how the market is trending.<br>
                        These are the cards that <a href="https://mtgstocks.com">MTGStocks</a>, <a href="https://echomtg.com">echomtg</a>, and similar pages will pick up in about 5 days (usually - even if they don't, these are the cards that are actively churning on the market given a 3 week review across multiple vendor sites).</li>
                    <li>Pages 4 and 5 give you an overview of TCG vendor levels, how many vendors have listings of a specific card and how it is trending.</li>
                    <li>Pages 6 and 7 are the same deal as 4-5, just reviewing CK buylist and the strength and trends of their offers on cards.</li>
                </ul>
                <br>
                <ul class="indent">
                    <li>Check out a <a href=https://youtu.be/1BILs981-Y4>video introduction</a> from <a href="https://twitter.com/WolfOfTinStreet">WolfOfTinStreet</a>.
                </ul>
                <br>
                <h3>A note on forecasts</h3>
                <ul class="indent">
                    <li>This newspaper is not a crystal ball.</li>
                    <li>More often then not, the trend of the card is what we're aiming to predict and the sharpness of that trend velocity.</li>
                    <li>These forecasts hereafter attempt to show, based off time series analysis, the potential future values (7 days out) for key metrics.</li>
                    <li>The values shown demonstrate the value and forecast value from one week prior. We then can compare the forecast value (what the model thought the value would be {{if .IsOneDay}}in present day{{else}}on a 3 day lag{{end}}).</li>
                    <li>Then it will demonstrate today's value, and the current projection moving forward.</li>
                    <li>In your own review of how my model performed last week to this week, <b>it is left up to the reader</b> to decide whether or not to believe it will continue to hold true into the future week, or if trends will change. What is being represented is historical patterns and their predicted end result.</li>
                    <ul class="indent">
                        <li>Things in the present, oftentimes, do not follow historical trends, and herein lies the risk.</li>
                        <li>If they should follow historical patterns though...</li>
                    </ul>
                    {{if not .IsOneDay}}
                        <li>Please also remember, this edition is lagged 3 days behind present date. Consider upgrading your pledge to gain access to the <i>early edition</i>.</li>
                    {{end}}
                </ul>
                <br>

            </div>
        {{else}}
            <img id="hoverImage" src="" style="position:absolute; z-index: 2;"/>

            <script type="text/javascript">
                var hoverImage = document.getElementById("hoverImage");

                document.addEventListener("mousemove", getMouse);

                setInterval(followMouse, 10);

                var mouse = {x:0, y:0};

                function getMouse(e){
                    mouse.x = e.pageX+10;
                    mouse.y = e.pageY+10;
                }

                function followMouse(){
                    hoverImage.style.left = mouse.x + "px";
                    hoverImage.style.top = mouse.y + "px";
                }
            </script>

            <div style="clear:both;">
                <div style="float:left;">
                    <h1>{{.Title}}</h1>
                </div>
                <div style="float:left; padding:0px 0 0 200px; margin:auto">
                    <form action="newspaper" method="GET">
                        <input type="hidden" name="page" value="{{$.Page}}">
                        <label for="filter">Filter by edition<br></label>
                        <select name="filter" onchange="this.form.submit()" class="select-css" style=" width:300px">
                            {{range .Editions}}
                                <option value="{{.}}" {{if eq . $.FilterSet}}selected{{end}}>{{.}}</option>
                            {{end}}
                        </select>
                    </form>
                </div>
            </div>

            <div class="indent" style="max-width: {{if $.LargeTable}}90%{{else}}1080px{{end}};">
                <table onmouseout="document.getElementById('hoverImage').src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7';" width=100%>
                    <tr>
                        {{range .Headings}}
                            {{if not .IsHidden}}
                                <th class="stickyHeaderShort">
                                    {{.Title}}
                                    {{if or .CanSort (and (not (eq $.FilterSet "")) .ConditionalSort)}}
                                        <nobr>
                                            <a href="newspaper?page={{$.Page}}&sort={{.Field}}&dir=desc&filter={{$.FilterSet}}">▼</a>
                                            <a href="newspaper?page={{$.Page}}&sort={{.Field}}&dir=asc&filter={{$.FilterSet}}">▲</a>
                                        </nobr>
                                    {{end}}
                                </th>
                            {{end}}
                        {{end}}
                    </tr>
                    {{range $j, $card := .Cards}}
                        {{$table := (index $.Table $j)}}
                        <tr onmouseover="document.getElementById('hoverImage').src={{$card.ImageURL}};">
                            {{range $i, $row := $table}}
                                {{if eq $i $.OffsetCards}}
                                    <td {{if $.LargeTable}}style="min-width: 15%;"{{end}}>
                                        <a href="search?q={{$card.Name}} s:{{$card.SetCode}} cn:{{$card.Number}}">{{$row}}</a>{{if $card.Reserved}} *{{end}}{{if $card.Stocks}} •{{end}}
                                    </td>
                                {{else if eq $i (inc $.OffsetCards 1)}}
                                    <td {{if $.LargeTable}}style="min-width: 15%;"{{end}}>
                                        <i class="ss {{$card.Keyrune}} ss-1x ss-fw"></i> {{$row}}
                                    </td>
                                {{else}}
                                    {{$head := (index $.Headings $i)}}
                                    {{if not $head.IsHidden}}
                                        <td>
                                            <center>
                                                {{if $head.IsDollar}}${{end}}
                                                {{if $head.IsPerc}}
                                                    {{perc $row}} %
                                                {{else}}
                                                    <nobr>{{$row}}</nobr>
                                                {{end}}
                                            </center>
                                        </td>
                                    {{end}}
                                {{end}}
                            {{end}}
                        </tr>
                    {{end}}
                    <tr>
                        <td colspan="{{len .Headings}}">
                            <p style="text-align: center; vertical-align: middle;">
                            {{if ne .CurrentIndex 0}}
                                <a class="pagination" href="/newspaper?page={{.Page}}&sort={{.SortOption}}&dir={{.SortDir}}&index=&filter={{.FilterSet}}">&lt;</a>
                                <a class="pagination" href="/newspaper?page={{.Page}}&sort={{.SortOption}}&dir={{.SortDir}}&index={{.PrevIndex}}&filter={{.FilterSet}}">◀</a>
                            {{end}}
                            {{inc .CurrentIndex 1}} / {{inc .TotalIndex 1}}
                            {{if ne .CurrentIndex .TotalIndex}}
                                <a class="pagination" href="/newspaper?page={{.Page}}&sort={{.SortOption}}&dir={{.SortDir}}&index={{.NextIndex}}&filter={{.FilterSet}}">▶</a>
                                <a class="pagination" href="/newspaper?page={{.Page}}&sort={{.SortOption}}&dir={{.SortDir}}&index={{.TotalIndex}}&filter={{.FilterSet}}">&gt;</a>
                            {{end}}
                            </p>
                        </td>
                    </tr>
                </table>
                <br>
                <h4>
                    <p>{{.InfoMessage}}</p>
                    {{if .HasReserved}}
                        <p>* = Part of the <a href="https://mtg.gamepedia.com/Reserved_List">Reserved List</a></p>
                    {{end}}
                    {{if .HasStocks}}
                        <p>• = On <a href="https://mtgstocks.com/interests">MTGStocks Interests</a> page</p>
                    {{end}}
                </h4>
                <br><br><br>
            </div>
            <br>
        {{end}}
    {{end}}
</div>
</body>
</html>
