<!DOCTYPE html>
<html>
<head>
    <link href='https://fonts.googleapis.com/css?family=Rosario:400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <title>{{.Title}}</title>
</head>
<body>

<nav>
    <ul>
        {{range .Nav}}
            <li><a {{if .Active}}class="{{.Class}}"{{end}} href="{{.Link}}">{{.Name}}</a></li>
        {{end}}
    </ul>
</nav>

<div class="mainbody">
    {{if ne .ErrorMessage ""}}
        <h1>{{.ErrorMessage}}</h1>
    {{else}}
        <h1>Welcome to Search</h1>
            <div class="indent">
                <form class="search" action="search">
                    <label style="clear: both; float: left;" for="searchbox">Enter a card name</label>
                    {{if ne .Signature ""}}
                        <input type="hidden" name="Signature" value="{{.Signature}}">
                    {{end}}
                    {{if ne .Expires ""}}
                        <input type="hidden" name="Expires" value="{{.Expires}}">
                    {{end}}
                    <input id="searchbox" class="w3-input w3-border w3-round-small" type="text" name="q" placeholder="Search BAN" value="{{.SearchQuery}}">
                </form>
            </div>
        {{if ne .SearchQuery ""}}
            <div class="indent">
                <table style="float: left;">
                    <tr>
                        <th colspan="3"><h2 align=center>Sellers</h2></th>
                    </tr>
                    {{if not .FoundSellers}}
                        <tr>
                            <td>No offers available</td>
                        </tr>
                    {{end}}
                    {{range $card, $entries := .FoundSellers}}
                        <tr>
                            <th colspan="3">{{$card.Name}} {{if $card.Foil}}(FOIL){{end}} - {{$card.Edition}}</th>
                        </tr>
                        {{range $entries}}
                            <tr>
                                <td>
                                    {{if ne .URL ""}}
                                        <a class="btn normal" href="{{.URL}}" target="_blank">
                                    {{end}}
                                          {{.ScraperName}}
                                    {{if ne .URL ""}}
                                        </a>
                                    {{end}}
                                </td>
                                <td>
                                    $ {{.Price}}
                                </td>
                                <td>
                                    {{.Quantity}}
                                </td>
                            </tr>
                        {{end}}
                    {{end}}
                </table>

                <table style="float: left;">
                    <tr>
                        <th colspan="4"><h2 align=center>Buyers</h2></th>
                    </tr>
                    {{if not .FoundVendors}}
                        <tr>
                            <td>No offers available</td>
                        </tr>
                    {{end}}
                    {{range $card, $entries := .FoundVendors}}
                        <tr>
                            <th colspan="4">{{$card.Name}} {{if $card.Foil}}(FOIL){{end}} - {{$card.Edition}}</th>
                        </tr>
                        {{range $entries}}
                            <tr>
                                <td>
                                    {{if ne .URL ""}}
                                        <a class="btn normal" href="{{.URL}}" target="_blank">
                                    {{end}}
                                          {{.ScraperName}}
                                    {{if ne .URL ""}}
                                        </a>
                                    {{end}}
                                </td>
                                <td>
                                    $ {{.Price}}
                                </td>
                                <td>
                                    {{if ne .Ratio 0.0}}{{printf "%.2f" .Ratio}} %{{end}}
                                </td>
                                <td>
                                    {{if ne .Quantity 0}}{{.Quantity}}{{end}}
                                </td>
                            </tr>
                        {{end}}
                    {{end}}
                </table>
            </div>
        {{end}}
        <div class="indent" style="clear:both;">
        Last update: {{.LastUpdate}}
        </div>
    {{end}}
    <br>
</div>
</body>
</html>
