<!DOCTYPE html>
<html>
<head>
    <link href='https://fonts.googleapis.com/css?family=Rosario:400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <title>{{.Title}}</title>
    <script type="text/javascript" src="../js/autocomplete.js"></script>
    <script type="text/javascript" src="../js/fetchnames.js"></script>
</head>
<body>

<nav>
    <ul>
        <li><a href="https://www.patreon.com/ban_community"><img src="https://c5.patreon.com/external/favicon/apple-touch-icon.png" width=48></a></li>
        {{range .Nav}}
            <li><a {{if .Active}}class="{{.Class}}"{{end}} href="{{.Link}}">{{.Name}}</a></li>
        {{end}}
        <li>Last data refresh: {{.LastUpdate}}</li>
    </ul>
</nav>

<div class="mainbody">
    {{if ne .ErrorMessage ""}}
        <h1>{{.ErrorMessage}}</h1>
        {{if .ShowPromo}}
            <img class="center" src="img/promo/search.jpg">
        {{end}}
    {{else}}
        <h1>Welcome to Search</h1>
        <div class="indent sticky" style="top:48px; background-color:#f8f8f8; z-index: 1; width: min-content;">
            <form class="search autocomplete" action="search" autocomplete="off" id="searchform">
                <label style="clear: both; float: left;" for="searchbox">Enter a card name</label>
                {{if ne .Signature ""}}
                    <input type="hidden" name="sig" value="{{.Signature}}">
                {{end}}
                <input id="searchbox" class="w3-input w3-border w3-round-small search-input" onClick="this.setSelectionRange(0, this.value.length)" type="text" name="q" placeholder="Search BAN" value="{{.SearchQuery}}">
            </form>
        </div>

        <script type="text/javascript">
            autocomplete(document.getElementById("searchform"), document.getElementById("searchbox"));
        </script>
        {{if eq .SearchQuery ""}}
            <div class="indent">
                <h2>Instructions</h2>
                <br>
                <ul class="indent">
                    <li><h4><i>Syntax</i></h4>
                        <ul class="indent">
                            <li>You can filter by <b>edition</b> using the Scryfall notation <pre>s:CODE</pre></li>
                            <li>You can filter by <b>condition</b> with <pre>c:COND</pre>, accepting <pre>NM</pre>, <pre>SP</pre>, <pre>MP</pre>, <pre>HP</pre>, and <pre>PO</pre>.</li>
                            <li>You can filter by <b>foil</b> with <pre>f:VALUE</pre>, accepting <pre>true</pre>, or <pre>false</pre></li>
                            <li>Normally a card is searched with a "starting with" strategy.
                                <br> For example <pre>Dragonlord</pre> will return all the cards starting with "Dragonlord".</li>
                            <li>If you search in double quotes, instead you will search for exact matches only.<br>
                                For example <pre>"Vesuva"</pre> will return the card named Vesuva and no other Vesuvan counterpart.</li>
                            <li>If you search in double asterisks, instead you will search for loose matches only.<br>
                                For example <pre>*Draco*</pre> will return the card named Draco and all the cards that have "draco" in their names.</li>
                        </ul>
                    </li>
                    <br>

                    <li>Data is refreshed periodically over the day.</li>
                    <li>Entries are formatted as <i>card name (foil status) - edition (collector #)</i>.</li>
                    <li>The percentage found in buylist offers is the <b>price ratio</b>, the higher it is, the more a vendor is looking to purchase that card.</li>
                    <li>This percentage is available only if the seller is selling copies of the same card at the same conditions.</li>
                    <li>Inventory prices refer to the stated conditions (and their accuracy depends on the data provider).</li>
                    <li>Buylist prices are always referring to NM conditions.</li>
                    <li>TCG Low is a special value referring to TCG algorithms that may differ from quantity and quality of listings.</li>
                    <li>In case of mistakes or incongruities, please notify the devs in the BAN Discord.</li>
                    <li>Should you find this content useful, consider clicking on one of the provided links to make a purchase on the website, and directly support BAN.</li>
                </ul>
             </div>
        {{else}}
            <div class="indent sticky" style="top: 120px; z-index: -1;">
                <table style="float: left;">
                    <tr>
                        <td>
                            <img id="cardImage" src="" width="354" height="493"/>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="indent">
                {{$firstImg := ""}}
                <table style="float: left;">
                    <tr>
                        <th colspan="3" class="stickyCategory"><h2 align=center>Sellers</h2></th>
                    </tr>
                    {{if not .FoundSellers}}
                        <tr>
                            <td>No offers available</td>
                        </tr>
                    {{end}}
                    {{range $card, $condsEntry := .FoundSellers}}
                        {{if eq $firstImg ""}}
                            {{$firstImg = (index $.Images $card)}}
                        {{end}}
                        <tr onmouseover="document.getElementById('cardImage').src={{index $.Images $card}};">
                            <th colspan="3" class="wrap stickyHeader">{{$card.Name}} {{if $card.Foil}}(FOIL){{end}} - {{$card.Edition}} ({{$card.Number}})</th>
                        </tr>
                        {{range $conditions := $.CondKeys}}
                            {{$entries := (index $condsEntry $conditions)}}
                            {{if ne $conditions "TCG"}}
                                {{if $entries}}
                                    <tr onmouseover="document.getElementById('cardImage').src={{index $.Images $card}};">
                                        <td colspan="3"><i>Conditions: {{$conditions}}</i></th>
                                    </tr>
                                {{end}}
                            {{end}}
                            {{range $entries}}
                                <tr onmouseover="document.getElementById('cardImage').src={{index $.Images $card}};">
                                    <td>
                                        {{if ne .URL ""}}
                                            <a class="btn normal" href="{{.URL}}" target="_blank">
                                                {{.ScraperName}}
                                            </a>
                                        {{else}}
                                            &nbsp;&nbsp;{{.ScraperName}}
                                        {{end}}
                                    </td>
                                    <td>
                                        $ {{.Price}}
                                    </td>
                                    <td>
                                        {{if ne $conditions "TCG"}}
                                            {{.Quantity}}
                                        {{end}}
                                    </td>
                                </tr>
                            {{end}}
                        {{end}}
                    {{end}}
                </table>

                <table style="float: left;">
                    <tr>
                        <th colspan="4" class="stickyCategory"><h2 align=center>Buyers</h2></th>
                    </tr>
                    {{if not .FoundVendors}}
                        <tr>
                            <td>No offers available</td>
                        </tr>
                    {{end}}
                    {{range $card, $entries := .FoundVendors}}
                        <tr onmouseover="document.getElementById('cardImage').src={{index $.Images $card}};">
                            <th colspan="4" class="wrap stickyHeader">{{$card.Name}} {{if $card.Foil}}(FOIL){{end}} - {{$card.Edition}} ({{$card.Number}})</th>
                        </tr>
                        {{range $entries}}
                            <tr onmouseover="document.getElementById('cardImage').src={{index $.Images $card}};">
                                <td>
                                    {{if ne .URL ""}}
                                        <a class="btn normal" href="{{.URL}}" target="_blank">
                                            {{.ScraperName}}
                                        </a>
                                    {{else}}
                                        &nbsp;&nbsp;{{.ScraperName}}
                                    {{end}}
                                </td>
                                <td>
                                    $ {{.Price}}
                                </td>
                                <td>
                                    {{if ne .Ratio 0.0}}{{printf "%.2f" .Ratio}} %{{end}}
                                </td>
                                <td>
                                    {{if ne .Quantity 0}}{{.Quantity}}{{end}}
                                </td>
                            </tr>
                        {{end}}
                    {{end}}
                </table>
                {{if eq $firstImg ""}}
                    {{$firstImg = "https://img.scryfall.com/errors/missing.jpg"}}
                {{end}}
                <script type="text/javascript">
                    document.getElementById('cardImage').src = "{{$firstImg}}";
                </script>
            </div>
        {{end}}
        <div style="clear:both;"></div>
    {{end}}
    <br>
</div>
</body>
</html>
