<!DOCTYPE html>
<html>
<head>
    <link href='https://fonts.googleapis.com/css?family=Rosario:400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <link href="//cdn.jsdelivr.net/npm/keyrune@latest/css/keyrune.css" rel="stylesheet" type="text/css" />
    <title>{{.Title}}</title>
    {{if not .IsSealed}}
        <script type="text/javascript" src="../js/autocomplete.js"></script>
        <script type="text/javascript" src="../js/fetchnames.js"></script>
    {{end}}
    {{if not (eq .ChartID "")}}
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"></script>
        <script type="text/javascript" src="../js/chartopts.js"></script>
    {{end}}
</head>

<body class="light-theme">
<script type="text/javascript" src="../js/themechecker.js"></script>
<nav>
    <ul>
        <li><a href="https://www.patreon.com/ban_community"><img src="img/misc/patreon.png" width=48></a></li>
        <li><a href="/discord"><img src="img/misc/discord.png" width=48></a></li>
        {{range .Nav}}
            <li>
                <a {{if .Active}}class="{{.Class}}"{{end}} href="{{.Link}}">
                    <span>{{.Short}} {{.Name}}</span>
                </a>
            </li>
        {{end}}
        <li>
            <label class="switch">
                <div>
                    <input type="checkbox"/>
                    <span class="slider"></span>
                </div>
                <script type="text/javascript" src="../js/nightmode.js"></script>
            </label>
        </li>
    </ul>
</nav>

<div class="mainbody">
    {{if ne .ErrorMessage ""}}
        <h1>{{.ErrorMessage}}</h1>
        {{if .ShowPromo}}
            <img class="center" src="img/promo/search.jpg">
        {{end}}
    {{else}}
        <h1>Welcome to BAN {{if .IsSealed}}Sealed{{else}}{{if not (eq .ChartID "")}}Chart{{end}} Search{{end}}</h1>
        <div class="indent sticky" style="top:48px; background-color: var(--background); z-index: 3; width: min-content;">
            <form class="search autocomplete" action="" autocomplete="off" spellcheck="false" id="searchform">
                <label style="clear: both; float: left; width: 110%" for="searchbox">
                    {{if not .SearchQuery}}
                        Search for a card, or... <a class="btn info" href="/random">surprise me</a>
                    {{else}}
                        Sort by
                        <a class="btn info" href="?q={{.SearchQuery}}&b={{.SearchBest}}&sort=" title="Sort by chronological order">
                            {{if not .SearchSort}}<b>{{end}}chrono{{if not .SearchSort}}</b>{{end}}
                        </a>
                        <a class="btn info" href="?q={{.SearchQuery}}&b={{.SearchBest}}&sort=alpha" title="Sort by alphabetical order">
                            {{if eq .SearchSort "alpha"}}<b>{{end}}alpha{{if eq .SearchSort "alpha"}}</b>{{end}}
                        </a>
                        <a class="btn info" href="?q={{.SearchQuery}}&b={{.SearchBest}}&sort=retail" title="Sort by best retail price (off TCGplayer)">
                            {{if eq .SearchSort "retail"}}<b>{{end}}retail{{if eq .SearchSort "retail"}}</b>{{end}}
                        </a>
                        <a class="btn info" href="?q={{.SearchQuery}}&b={{.SearchBest}}&sort=buylist" title="Sort by best buylits price (off Card Kingdom)">
                            {{if eq .SearchSort "buylist"}}<b>{{end}}buylist{{if eq .SearchSort "buylist"}}</b>{{end}}
                        </a>
                        {{if not .IsSealed}}
                            <a class="btn info" href="?q={{.SearchQuery}}&b={{not .SearchBest}}&sort={{.SearchSort}}" title="Listing priority">
                                {{if .SearchBest}}
                                    [stores]
                                {{else}}
                                    [prices]
                                {{end}}
                            </a>
                        {{end}}
                    {{end}}
                </label>
                <input id="searchbox" class="w3-input w3-border w3-round-small search-input" onFocus="this.setSelectionRange(0, this.value.length)" type="text" name="q" placeholder="Enter a card name" value="{{.SearchQuery}}" maxlength="200" autofocus>
            </form>
        </div>

        {{if not .IsSealed}}
            <script type="text/javascript">
                autocomplete(document.getElementById("searchform"), document.getElementById("searchbox"));
            </script>
        {{end}}
        {{if eq .SearchQuery ""}}
            <div class="indent">
                <h2>Instructions</h2>
                <br>
                <ul class="indent">
                    <li><h4><i>Syntax</i></h4>
                        <ul class="indent">
                            <li>You can search using the Pricefall bot notation: <pre>name[|code[|number]]{&amp;*~}</pre>. Append <pre>&amp;</pre> for nonfoil-only, <pre>*</pre> for foil-only, or <pre>~</pre> for etched-only results.</li>
                            <li>You can filter by <b>edition</b> using the Scryfall notation <pre>s:CODE</pre> and the full edition name (enclosed in quotes) <pre>s:"Aether Revolt"</pre></li>
                            <li>You can filter by <b>collector number</b> using the Scryfall notation <pre>cn:NUMBER</pre>. For simple numbers (without any prefix or suffix) you may also filter with <pre>cn&gt;NUMBER</pre> and <pre>cn&lt;NUMBER</pre>.</li>
                            <li>You can filter by <b>condition</b> with <pre>c:COND</pre>, accepting <pre>NM</pre>, <pre>SP</pre>, <pre>MP</pre>, <pre>HP</pre>, and <pre>PO</pre>.</li>
                            <li>You can filter by <b>rarity</b> with <pre>r:RARITY</pre>, accepting <pre>mythic</pre>, <pre>rare</pre>, <pre>uncommon</pre>, <pre>common</pre>, <pre>special</pre>, <pre>token</pre>, and <pre>oversize</pre>. You can also use the first letter of the rarity as shorthand.</li>
                            <li>You can filter by <b>finish</b> with <pre>f:VALUE</pre>, accepting <pre>nonfoil</pre>, <pre>foil</pre>, and <pre>etched</pre>.</li>
                            <li>You can filter by <b>card type</b> with <pre>t:VALUE</pre>, accepting any valid supertype, subtype, or type.</li>
                            <li>You can filter by <b>release date</b> of the card or set <pre>date:VALUE</pre>, <pre>date&gt;VALUE</pre>, and <pre>date&lt;VALUE</pre>. The value may be a date in the ISO format (<pre>YYYY-MM-DD</pre>) or a set code.</li>
                            <li>
                                You can filter by card properties using <pre>is:VALUE</pre>, accepting these self describing options:
                                <ul class="indent">
                                    <li>Generic propeties: <i>reserved, token, oversize, funny, wcd promo</i></li>
                                    <li>Frame properties: <i>fullart, extendedart, showcase, reskin, borderless, gold, retro</i></li>
                                    <li>Promo properties: <i>judge, arena, rewards, bundle, buyabox, gameday, intropack, prerelease, promopack, release, boosterfun, godzillaseries, draculaseries, playpromo</i></li>
                                    <li>Language properties: <i>jpn</i></li>
                                </ul>
                            </li>
                            <li>You can change the <b>search mode</b> with <pre>sm:VALUE</pre>, accepting <pre>exact</pre> (default), <pre>prefix</pre>, or <pre>any</pre></li>
                            <ul class="indent">
                                <li>Normally a card is searched with an <b>exact</b> strategy, you will get only cards with exactly the same name as searched.
                                    <br>For example <pre>Vesuva</pre> will return the card named Vesuva and no other Vesuvan counterpart.</li>
                                <li>If you search in <b>prefix</b> mode, you will get all the cards with the name starting with what you searched.
                                    <br>For example <pre>"Dragonlord"</pre> will return all the cards starting with "Dragonlord".</li>
                                <li>If you search in in <b>any</b> mode, you will get all the cards containing any of the text present in card names.
                                    <br>For example <pre>*Draco*</pre> will return the card named Draco and all the cards that have "draco" in their names.</li>
                            </ul>
                            <li>You can set any option in any order, in any amount. When filtering for a group of values you can use a comma <pre>,</pre> to separate values.</li>
                            <li>You can invert filter results by prepending a <pre>-</pre> to the option name.</li>
                            <li>You can filter by <b>seller/vendor name</b> with <pre>store:shorthand</pre>, or specific types of store with <pre>seller:shorthand</pre> and <pre>vendor:shorthand</pre>.</li>
                            <ul class="indent">
                                <li>For well known store names, you may use the following self-describing tags: <pre>TCG_LOW</pre>, <pre>TCG_MARKET</pre>, <pre>TCG_PLAYER</pre>, <pre>TCG_DIRECT</pre>, <pre>MKM_LOW</pre>, <pre>MKM_TREND</pre>, <pre>CT</pre> and so on.</li>
                                <li>You can filter results to include only retail or buylist prices with <pre>skip:retail</pre> and <pre>skip:buylist</pre>.</li>
                                <li>You may filter by the store <b>region</b> with <pre>region:VALUE</pre> using <pre>us</pre>, <pre>eu</pre>, or <pre>jp</pre> options.</li>
                                <li>Note that <pre>seller</pre> leave index results availabe - if you only want to look at the selected scraper(s) use the <pre>aseller</pre> option.</li>
                            </ul>
                            <li>You can filter by <b>price</b> with <pre>price&gt;VALUE</pre>, or <pre>price&lt;VALUE</pre> to exclude results that are above or below your range.</li>
                            <li>You can check if a cards is on a particular list of card with <b>on</b> supporting <pre>mtgstocks</pre> and <pre>tcgsyp</pre>.</li>
                        </ul>
                    </li>
                    <br>

                    <li>You can access <b>historical data</b> from a few major vendors by clicking on 📊 for each card.</li>
                    <li>Data is refreshed periodically over the day.</li>
                    <li>Entries are formatted as <i>card name (finish) - edition (collector #)</i>.</li>
                    <li>The percentage found in buylist offers is the <b>price ratio</b>, the higher it is, the more a vendor is looking to purchase that card.</li>
                    <li>This percentage is available only if the seller is selling copies of the same card at the same conditions.</li>
                    <li>Inventory prices refer to the stated conditions (and their accuracy depends on the data provider).</li>
                    <li>Buylist prices are always referring to NM conditions.</li>
                    <li>TCG Low is a special value referring to TCG algorithms that may differ from quantity and quality of listings.</li>
                    <li>If you hover on a buylist price, a small tooltip will appear displaying the corresponding trade-in price, if available.</li>
                    <li>In case of mistakes or incongruities, please notify the devs in the BAN Discord.</li>
                    <li>Should you find this content useful, consider clicking on one of the provided links to make a purchase on the website, and directly support BAN.</li>
                </ul>
             </div>
        {{else}}
            <script type="text/javascript">
                function updateSidebar(src, printings) {
                    {{if not .IsSealed}}
                        document.getElementById('cardImage').src=src
                    {{else}}
                        document.getElementById('hoverImage').src=src
                    {{end}}
                    document.getElementById('printings').innerHTML=printings
                }
            </script>

            {{$emptyImg := "data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"}}
            {{if .IsSealed}}
                <img id="hoverImage" src="" style="position:absolute; z-index: 3; max-width: 360px; max-height: 360px;"/>
                <script type="text/javascript" src="../js/followmouse.js"></script>
            {{end}}

            <div class="indent sticky" style="top: 128px;">
                <table style="float: left; background-color: var(--background)">
                    {{if .IsSealed}}
                        <br><br>
                        <tr class="no-hover" style="background-color: var(--background)">
                            <td>
                                <div id="printings" style="max-width:354px; display: block;"></div>
                            </td>
                        </tr>
                    {{else}}
                        <tr class="no-hover" style="background-color: var(--background)">
                            <td>
                                <img id="cardImage" src="" width="354" height="493"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div id="printings" style="text-align: center; max-width:354px; display: block;"></div>
                                {{if .CanShowAll}}
                                    <center>
                                        <a class="btn info" href="search?q={{.CleanSearchQuery}}">Show all versions</a>
                                    </center>
                                {{end}}
                            </td>
                        </tr>
                        {{if not (eq .Alternative "")}}
                            <tr>
                                <td>
                                    <center>
                                        <a class="btn warning" href="/search?chart={{.Alternative}}">Switch Foil/Non-Foil</a>
                                    </center>
                                </td>
                            </tr>
                        {{end}}
                        {{if not (eq .AltEtchedId "")}}
                            <tr>
                                <td>
                                    <center>
                                        <a class="btn warning" href="/search?chart={{.AltEtchedId}}">Switch Etched/Non-Etched</a>
                                    </center>
                                </td>
                            </tr>
                        {{end}}
                        {{if not (eq .StocksURL "")}}
                            <tr>
                                <td>
                                    <center>
                                        <a class="btn success" href="{{.StocksURL}}" target="_blank">Check MTGStocks charts</a>
                                    </center>
                                </td>
                            </tr>
                        {{end}}
                    {{end}}
                    <tr>
                        <td style="background-color: var(--background);">
                            {{if .HasReserved}}
                                <h4>
                                    {{if not (eq .ChartID "")}}<center>{{else}}* ={{end}}
                                    Part of the <a href="https://mtg.gamepedia.com/Reserved_List">Reserved List</a>
                                    {{if not (eq .ChartID "")}}</center>{{end}}
                                </h4>
                            {{end}}
                            {{if .HasStocks}}
                                <h4>
                                    {{if not (eq .ChartID "")}}<center>{{else}}• ={{end}}
                                    On <a href="https://mtgstocks.com/interests">MTGStocks Interests</a> page
                                    {{if not (eq .ChartID "")}}</center>{{end}}
                                </h4>
                            {{end}}
                            {{if .HasSypList}}
                                <h4>
                                    {{if not (eq .ChartID "")}}<center>{{else}}† ={{end}}
                                    Found in the <a href="https://help.tcgplayer.com/hc/en-us/articles/360054178934-Store-Your-Products-SYP-Pull-Sheet">SYP Pull Sheet</a>
                                    {{if not (eq .ChartID "")}}</center>{{end}}
                                </h4>
                            {{end}}
                        </td>
                    </tr>
                </table>
            </div>

            <div class="indent sticky">
                {{$firstImg := ""}}
                {{$firstPrint := ""}}

                {{if not (eq .ChartID "")}}
                    <div style="margin-left: 10px; float: left;">
                        <canvas id="cardChart" width="740" height="420"></canvas>
                        <br>
                        <hr>
                        <br>
                    </div>
                    <script>
                        var ctx = document.getElementById('cardChart').getContext('2d');
                        var cardChart = new Chart(ctx, {
                            type: 'banWithLine',
                            data: {
                                labels: {{.AxisLabels}},
                                datasets: [
                                    {{range .Datasets}}
                                        {
                                            label: {{.Name}},
                                            data: {{.Data}},
                                            hidden: {{.Hidden}},
                                            backgroundColor: {{.Color}},
                                            borderColor: {{.Color}},
                                            fill: false,
                                            pointRadius: 0,
                                        },
                                    {{end}}
                                ]
                            },
                            options: getChartOpts(),
                        });
                    </script>
                {{end}}

                <table style="background-color: var(--background); float:left;" {{if .IsSealed}}onmouseout="document.getElementById('hoverImage').src='{{$emptyImg}}';"{{end}}>
                    {{if .AllKeys}}
                        <tr>
                            <th class="stickyCategory"><h2 align=center>Sellers</h2></th>
                            <th class="stickyCategory"><h2 align=center>Buyers</h2></th>
                        </tr>
                    {{end}}

                    {{range $cardId := .AllKeys}}
                        {{$card := (index $.Metadata $cardId)}}
                        {{if eq $firstImg ""}}
                            {{$firstImg = $card.ImageURL}}
                            {{$firstPrint = $card.Printings}}
                        {{end}}

                        <tr onmouseover="updateSidebar({{$card.ImageURL}}, {{$card.Printings}});" title="{{$card.Title}}">
                            <th colspan="2" class="wrap stickyHeader" style="text-align: left; vertical-align: middle;">
                                <table style="margin:0 0 0 18">
                                    <tr style="background-color:rgba(0, 0, 0, 0);">
                                        <td rowspan=2>
                                            <a href="search?q=s:{{$card.SetCode}}">
                                                <i class="ss {{$card.Keyrune}} ss-2x ss-fw"></i>
                                            </a>
                                        </td>
                                        <td width=100%>
                                            <a href="{{$card.SearchURL}}">
                                                {{$card.Name}}
                                            </a>
                                            {{if ne $card.Variant ""}}
                                                <i>({{$card.Variant}})</i>
                                            {{end}}
                                            {{if $card.Reserved}}
                                                *
                                            {{end}}
                                            {{if $card.Stocks}}
                                                •
                                            {{end}}
                                            {{if $card.SypList}}
                                                †
                                            {{end}}
                                        </td>
                                        {{if $card.TCGId}}
                                            <td rowspan=2>
                                                    <a href="https://store.tcgplayer.com/admin/product/manage/{{$card.TCGId}}" title="Manage your TCGplayer inventory" target=_blank><img width=22 src="img/logo/tcgapp.png"></a>
                                            </td>
                                        {{end}}
                                        {{if eq $.ChartID ""}}
                                            <td rowspan=2>
                                                <span class="emoji">
                                                    <a href="?chart={{$cardId}}" title="See historical data">📊</a>
                                                </span>
                                            </td>
                                        {{end}}
                                    </tr>
                                    <tr style="background-color:rgba(0, 0, 0, 0); margin-bottom: 0px;">
                                        <td>
                                            <h6>
                                                <a href="?q=s:{{$card.SetCode}}">{{$card.Title}}</a>
                                            </h6>
                                        </td>

                                    </tr>
                                </table>
                            </th>
                        </tr>

                        <tr class="no-hover" style="background-color:rgba(0,0,0,0);" onmouseover="updateSidebar({{$card.ImageURL}}, {{$card.Printings}});" style="background-color:rgba(0, 0, 0, 0);">
                            {{$condsEntry := (index $.FoundSellers $cardId)}}
                            <td style="vertical-align: {{if not $condsEntry}}middle{{else}}top{{end}}; padding: 0; margin: 0;">
                                <table class="searchResults" style="margin: 0 6px 0 12px;">
                                    {{if not $condsEntry}}
                                        <tr onmouseover="updateSidebar({{$card.ImageURL}}, {{$card.Printings}});" style="background-color:rgba(0, 0, 0, 0);">
                                            <td colspan="4">
                                                <center>
                                                    <i>No offers</i>
                                                </center>
                                            </td>
                                        </tr>
                                    {{end}}
                                    {{range $conditions := $.CondKeys}}
                                        {{$entries := (index $condsEntry $conditions)}}
                                        {{if and (ne $conditions "INDEX") (not $.IsSealed)}}
                                            {{if $entries}}
                                                <tr onmouseover="updateSidebar({{$card.ImageURL}}, {{$card.Printings}});">
                                                    <td colspan="4" style="padding-top: 8px; padding-bottom: 8px"><i>Conditions: {{$conditions}}</i></td>
                                                </tr>
                                            {{end}}
                                        {{end}}
                                        {{range $entries}}
                                            <tr onmouseover="updateSidebar({{$card.ImageURL}}, {{$card.Printings}});">
                                                <td>
                                                    <a class="btn normal" href="{{.URL}}" target="_blank" rel="nofollow">
                                                        {{.ScraperName}}
                                                        {{if ne $conditions "INDEX"}}
                                                            {{.Country}}
                                                        {{end}}
                                                    </a>
                                                </td>
                                                <td style="text-align: center; vertical-align: middle;">
                                                    $ {{printf "%.2f" .Price}}
                                                </td>
                                                {{if .IndexCombined}}
                                                    <td style="text-align: center; vertical-align: middle;">
                                                        /
                                                    </td>
                                                    <td style="text-align: center; vertical-align: middle;">
                                                        $ {{printf "%.2f" .Secondary}}
                                                    </td>
                                                {{else}}
                                                    <td>
                                                    </td>
                                                    <td style="text-align: center; vertical-align: middle;">
                                                        {{if .BundleIcon}}
                                                            <img style="padding-top:4px;" src="{{.BundleIcon}}">
                                                        {{else if not .NoQuantity}}
                                                            {{.Quantity}}
                                                        {{end}}
                                                    </td>
                                                {{end}}
                                            </tr>
                                        {{end}}
                                    {{end}}
                                </table>
                            </td>

                            {{$entries := (index $.FoundVendors $cardId)}}
                            <td style="vertical-align: {{if not $entries}}middle{{else}}top{{end}}; padding: 0; margin: 0;">
                                <table class="searchResults" style="margin: 0 12px 0 6px">
                                    {{if not $entries}}
                                        <tr onmouseover="updateSidebar({{$card.ImageURL}}, {{$card.Printings}});" style="background-color:rgba(0, 0, 0, 0);">
                                            <td colspan="4">
                                                <center>
                                                    <i>No offers</i>
                                                </center>
                                            </td>
                                        </tr>
                                    {{end}}

                                    {{range $entries}}
                                        <tr onmouseover="updateSidebar({{$card.ImageURL}}, {{$card.Printings}});">
                                            <td>
                                                <a class="btn normal" href="{{.URL}}" target="_blank" rel="nofollow">
                                                    {{.ScraperName}} {{.Country}}
                                                </a>
                                            </td>
                                            <td {{if .Credit}}title="Credit: $ {{printf "%.2f" .Credit}}"{{end}}>
                                                $ {{printf "%.2f" .Price}}
                                            </td>
                                            <td style="text-align: center; vertical-align: middle;">
                                                {{if ne .Ratio 0.0}}{{printf "%.2f" .Ratio}} %{{end}}
                                            </td>
                                            <td style="text-align: center; vertical-align: middle;">
                                                {{if ne .Quantity 0}}{{.Quantity}}{{end}}
                                            </td>
                                        </tr>
                                    {{end}}
                                </table>
                            </td>
                        </tr>
                    {{end}}
                    {{if .CurrentIndex}}
                        <tr style="background-color: var(--headerbackground);">
                            <td colspan="2" style="text-align: center; vertical-align: middle;">
                                <p style="display: inline;">
                                    {{if ne .CurrentIndex 1}}
                                        <a class="pagination" href="?q={{.SearchQuery}}&p=1">&lt;</a>
                                        <a class="pagination" href="?q={{.SearchQuery}}&p={{.PrevIndex}}"><i class="arrow left"></i></a>
                                    {{end}}
                                    {{.CurrentIndex}} / {{.TotalIndex}}
                                    {{if ne .CurrentIndex .TotalIndex}}
                                        <a class="pagination" href="?q={{.SearchQuery}}&p={{.NextIndex}}"><i class="arrow right"></i></a>
                                        <a class="pagination" href="?q={{.SearchQuery}}&p={{.TotalIndex}}">&gt;</a>
                                    {{end}}
                                </p>
                            </td>
                        </tr>
                    {{end}}
                    {{if ne .InfoMessage ""}}
                        <tr>
                            <td colspan="2" style="text-align: center; vertical-align: middle;">
                                <h4><i>{{.InfoMessage}}</i></h4>
                            </td>
                        </tr>
                    {{end}}
                </table>
                {{if eq $firstImg ""}}
                    {{$firstImg = "https://c1.scryfall.com/file/scryfall-card-backs/large/0a/0aeebaf5-8c7d-4636-9e82-8c27447861f7.jpg"}}
                {{end}}
                {{if .IsSealed}}
                    {{$firstImg = $emptyImg}}
                {{end}}
                <script type="text/javascript">
                    updateSidebar({{$firstImg}}, {{$firstPrint}});
                </script>
            </div>
        {{end}}
        <div style="clear:both;"></div>
    {{end}}
    <br>
</div>
</body>
</html>
