<!DOCTYPE html>
<html>
<head>
    <link href='https://fonts.googleapis.com/css?family=Rosario:400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <link href="//cdn.jsdelivr.net/npm/keyrune@latest/css/keyrune.css" rel="stylesheet" type="text/css" />
    <title>BAN {{.Title}}</title>
</head>

<body class="light-theme">
<script type="text/javascript" src="../js/themechecker.js"></script>
<nav>
    <ul>
        <li><a href="https://www.patreon.com/ban_community"><img src="img/misc/patreon.png" width=48></a></li>
        <li><a href="/discord"><img src="img/misc/discord.png" width=48></a></li>
        {{range .Nav}}
            <li>
                <a {{if .Active}}class="{{.Class}}"{{end}} href="{{.Link}}">
                    <span>{{.Short}} {{.Name}}</span>
                </a>
            </li>
        {{end}}
        <li>
            <label class="switch">
                <div>
                    <input type="checkbox"/>
                    <span class="slider"></span>
                </div>
                <script type="text/javascript" src="../js/nightmode.js"></script>
            </label>
        </li>
    </ul>
</nav>

<div class="mainbody">
    {{if ne .ErrorMessage ""}}
        <h1>{{.ErrorMessage}}</h1>
        {{if .ShowPromo}}
            <img class="center" src="img/promo/arbit.jpg">
        {{end}}

    {{else if eq .Title "Index"}}

        <h1>Welcome to BAN Sleepers</h1>
        <div class="indent" style="max-width: 85%;">
            <br>
            <h3>
                <ul class="indent">
                    <li><a href="?page=bulk">Bulk Me Up</a></li>
                    <li><a href="?page=reprint">Long Time No Reprint</a></li>
                    <li><a href="?page=mismatch">Market Mismatch</a></li>
                    <li><a href="?page=options">Options</a></li>
                </ul>
                </h3>
            <br>

            <hr width=30% style="border: 1px dotted;"><br>

            <h2>Instructions</h2>
            <p class="indent">
            This page offers a set tools aimed at identifying interesting cards according to different point of views, as explained belowes. <br>
            They are categorized as "sleepers" because the market is apparently "sleeping" on them, and it has not been catching up on them yet. <br>
            They are presented on a S-F tiered scale, the higher the more interesting results!<br>

            </p>
            <ul class="indent">
                <li><b>Bulk Me Up</b><br>
                    Show a set of cards that deviate considerably from the set average, from the last 5 years. Sometimes you may find unexpected gems!<br>
                <li><b>Long Time No Reprint</b><br>
                    Display cards that haven't received a reprint in over two years. This is done by taking into account price, and excluding any bulk card, as well as Reserve List and other funny stuff.<br>
                <li><b>Market Mismatch</b><br>
                    These cards have a higher buylist price than what market is selling them at, or they are simply priced below TCG Low.<br>
            </ul>
        </div>

    {{else if eq .Title "Options"}}
        <script type="text/javascript" src="../js/cookies.js"></script>
        <br>

        <div class="indent">
            <h2>Vendors list</h2>
            Select which sellers or vendors you <b>don't</b> want to display in your sleep(ers).
            <br>

            <script type="text/javascript">
                window.onload = function(e) {
                    loadForm("SleepersSellersList", "sellers");
                    loadForm("SleepersVendorsList", "vendors");
                }
            </script>

            <a class="btn warning" onclick="javascript:clearForm('sellers'); clearForm('vendors');"><b>CLEAR</b></a>
            <a class="btn success" onclick="javascript:selectAll('sellers');"><b>SELECT ALL</b></a>
            <a class="btn success" onclick="javascript:saveForm('SleepersSellersList', 'sellers'); saveForm('SleepersVendorsList', 'vendors'); window.location.href = '/sleepers'"><b>SAVE</b></a>
        </div>

        <br>
        <div class="indent row">
            <div class="column" id="sellers">
                {{range $i, $key := .SellerKeys}}
                    <input type="checkbox" id="s{{$key}}" name="{{$key}}">
                    <label for="s{{$key}}">
                        {{scraper_name $key}}
                    </label>
                    <br>
                {{end}}
            </div>
            <div class="column" id="vendors">
                {{range $i, $key := .VendorKeys}}
                    <input type="checkbox" id="v{{$key}}" name="{{$key}}">
                    <label for="v{{$key}}">
                        {{scraper_name $key}}
                    </label>
                    <br>
                {{end}}
            </div>
        </div>

        <div class="indent">
            <h2>Edition list</h2>
                Select which editions you <b>don't</b> want to display in your sleep(ers).
            <br>

            <script type="text/javascript">
                window.onload = function(e) {
                    loadForm("SleepersEditionList", "editions");
                }
            </script>

            <a class="btn warning" onclick="javascript:clearForm('editions');"><b>CLEAR</b></a>
            <a class="btn success" onclick="javascript:selectAll('editions');"><b>SELECT ALL</b></a>
            <a class="btn success" onclick="javascript:saveForm('SleepersEditionList', 'editions'); window.location.href = '/sleepers'"><b>SAVE</b></a>
        </div>

        <div class="indent row" id="editions">
            {{range $i, $key := .Editions}}
                {{if triple_column_start $i (len $.Editions)}}
                    <div class="column">
                {{end}}

                {{$edition := index $.EditionsMap $key}}
                {{if $edition}}
                    <input type="checkbox" id="{{$key}}" name="{{$key}}">
                    <label for="{{$key}}">
                        <i class="ss ss-{{$edition.Keyrune}} ss-2x ss-fw"></i>
                        {{$edition.Name}}
                    </label>
                    <br>
                {{end}}

                {{if triple_column_end $i (len $.Editions)}}
                    </div>
                {{end}}
            {{end}}
        </div>
    {{else}}
        <div class="indent" style="max-width: 85%;">
            <table class="tiers">
                {{range $i, $letter := .SleepersKeys}}
                    {{$bgColor := index $.SleepersColors $i}}
                    {{$cardIds := index $.Sleepers $letter}}
                    <tr class="tiers">
                        <td class="tiers" style="background-color: {{$bgColor}};">
                            {{$letter}}
                        </td>
                        <td>
                            <div style="min-height: 50px;">
                                {{range $cardIds}}
                                    {{$card := index $.Metadata .}}
                                    <a href="{{$card.SearchURL}}">
                                        <nobr>
                                            <span class="small-hidden-text" aria-hidden="true">{{$card.Name}}</span>
                                            <img loading="lazy" style="margin: 5px;" src="{{$card.ImageURL}}" width=146 height=204 title="{{$card.Name}} [{{$card.Title}}]">
                                        </nobr>
                                    </a>
                                {{end}}
                            </div>
                        </td>
                    </tr>
                {{end}}
            </table>
        </div>
        <br>
    {{end}}
    {{if ne .InfoMessage ""}}
        <h2><p class=indent>{{.InfoMessage}}</p></h2>
    {{end}}
</div>
</body>
</html>
