<!DOCTYPE html>
<html>
<head>
    <link href='https://fonts.googleapis.com/css?family=Rosario:400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <link href="//cdn.jsdelivr.net/npm/keyrune@latest/css/keyrune.css" rel="stylesheet" type="text/css" />
    <title>BAN {{.Title}}</title>
</head>

<body class="light-theme">
<script type="text/javascript" src="../js/themechecker.js"></script>
<nav>
    <ul>
        <li><a href="https://www.patreon.com/ban_community"><img src="img/misc/patreon.png" width=48></a></li>
        <li><a href="/discord"><img src="img/misc/discord.png" width=48></a></li>
        {{range .Nav}}
            <li>
                <a {{if .Active}}class="{{.Class}}"{{end}} href="{{.Link}}">
                    <span>{{.Short}} {{.Name}}</span>
                </a>
            </li>
        {{end}}
        <li>
            <label class="switch">
                <div>
                    <input type="checkbox"/>
                    <span class="slider"></span>
                </div>
                <script type="text/javascript" src="../js/nightmode.js"></script>
            </label>
        </li>
    </ul>
</nav>

<div class="mainbody">
    {{if ne .ErrorMessage ""}}
        <h1>{{.ErrorMessage}}</h1>
        {{if .ShowPromo}}
            <img class="center" src="img/promo/arbit.jpg">
        {{end}}
    {{else}}
        <h1>Welcome to BAN Sleepers</h1>
        <div class="indent" style="max-width: 85%;">
            These cards have a higher buylist than the market price, or are priced below TCG rates, but the market has not noticed yet!

            <table class="tiers">
                {{range $i, $letter := .SleepersKeys}}
                    {{$bgColor := index $.SleepersColors $i}}
                    {{$cardIds := index $.Sleepers $letter}}
                    <tr class="tiers">
                        <td class="tiers" style="background-color: {{$bgColor}};">
                            {{$letter}}
                        </td>
                        <td>
                            <div style="min-height: 50px;">
                                {{range $cardIds}}
                                    {{$card := index $.Metadata .}}
                                    <a href="{{$card.SearchURL}}"><img loading="lazy" style="margin: 5px;" src="{{$card.ImageURL}}" width=146 height=204></a>
                                {{end}}
                            </div>
                        </td>
                    </tr>
                {{end}}
            </table>
        </div>
        <br>
    {{end}}
</div>
</body>
</html>
