<!DOCTYPE html>
<html>
<head>
    <link href='https://fonts.googleapis.com/css?family=Rosario:400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <link href="//cdn.jsdelivr.net/npm/keyrune@latest/css/keyrune.css" rel="stylesheet" type="text/css" />
    <title>BAN {{.Title}}</title>
</head>

<body class="light-theme">
<script type="text/javascript" src="../js/themechecker.js"></script>
<nav>
    <ul>
        <li><a href="https://www.patreon.com/ban_community"><img src="img/misc/patreon.png" width=48></a></li>
        <li><a href="/discord"><img src="img/misc/discord.png" width=48></a></li>
        {{range .Nav}}
            <li>
                <a {{if .Active}}class="{{.Class}}"{{end}} href="{{.Link}}">
                    <span>{{.Short}} {{.Name}}</span>
                </a>
            </li>
        {{end}}
        <li>
            <label class="switch">
                <div>
                    <input type="checkbox"/>
                    <span class="slider"></span>
                </div>
                <script type="text/javascript" src="../js/nightmode.js"></script>
            </label>
        </li>
    </ul>
</nav>

<div class="mainbody">
    {{if ne .ErrorMessage ""}}
        <h1>{{.ErrorMessage}}</h1>
        {{if .ShowPromo}}
            <img class="center" src="img/promo/arbit.jpg">
        {{end}}

    {{else if eq .Title "Options"}}
        <script type="text/javascript" src="../js/cookies.js"></script>
        <br>

        <div class="indent">
            <h2>Vendors list</h2>
            Select which sellers or vendors you <b>don't</b> want to display in your sleep(ers).
            <br>

            <script type="text/javascript">
                function clearform(){
                    var checkboxes = document.querySelectorAll('input')
                    for (var i = 0; i < checkboxes.length; i++) {
                        if (checkboxes[i].checked) {
                            checkboxes[i].checked = false;
                        }
                    }
                }

                function save() {
                    var list = "";
                    const sellers = document.querySelector("#sellers");
                    var checkboxes = sellers.querySelectorAll('input');
                    for (var i = 0; i < checkboxes.length; i++) {
                        if (checkboxes[i].checked) {
                            list += checkboxes[i].name + ',';
                        }
                    }

                    setCookie("SleepersSellersList", list, 1000);

                    list = "";
                    const vendors = document.querySelector("#vendors");
                    var checkboxes = vendors.querySelectorAll('input');
                    for (var i = 0; i < checkboxes.length; i++) {
                        if (checkboxes[i].checked) {
                            list += checkboxes[i].name + ',';
                        }
                    }

                    setCookie("SleepersVendorsList", list, 1000);

                    window.location.href = "/sleepers"
                }

                window.onload = function(e) {
                    var list = getCookie("SleepersSellersList");
                    if (list != "") {
                        const sets = list.split(",");
                        const container = document.querySelector('#sellers');
                        var checkboxes = container.querySelectorAll('input');
                        for (var i = 0; i < sets.length; i++) {
                            for (var j = 0; j < checkboxes.length; j++) {
                                if (checkboxes[j].name == sets[i]) {
                                    checkboxes[j].checked = true;
                                }
                            }
                        }
                    }

                    list = getCookie("SleepersVendorsList");
                    if (list != "") {
                        const sets = list.split(",");
                        const container = document.querySelector('#vendors');
                        var checkboxes = container.querySelectorAll('input');
                        for (var i = 0; i < sets.length; i++) {
                            for (var j = 0; j < checkboxes.length; j++) {
                                if (checkboxes[j].name == sets[i]) {
                                    checkboxes[j].checked = true;
                                }
                            }
                        }
                    }
                }
            </script>

            <a class="btn warning" onclick="javascript:clearform();"><b>CLEAR</b></a>
            <a class="btn success" onclick="javascript:save();"><b>SAVE</b></a>
        </div>

        <br>
        <div class="indent row">
            <div class="column" id="sellers">
                {{range $i, $key := .SellerKeys}}
                    <input type="checkbox" id="{{$key}}" name="{{$key}}">
                    <label for="{{$key}}">
                        {{scraper_name $key}}
                    </label>
                    <br>
                {{end}}
            </div>
            <div class="column" id="vendors">
                {{range $i, $key := .VendorKeys}}
                    <input type="checkbox" id="{{$key}}" name="{{$key}}">
                    <label for="{{$key}}">
                        {{scraper_name $key}}
                    </label>
                    <br>
                {{end}}
            </div>
        </div>

    {{else}}
        <h1>Welcome to BAN Sleepers</h1>
        <div class="indent" style="max-width: 85%;">
            These cards have a higher buylist than the market price, or are priced below TCG rates, but the market has not noticed yet! <br>
            You can also <a href="?page=options">tweak options</a> for more customized results. <br>
            <br>

            <table class="tiers">
                {{range $i, $letter := .SleepersKeys}}
                    {{$bgColor := index $.SleepersColors $i}}
                    {{$cardIds := index $.Sleepers $letter}}
                    <tr class="tiers">
                        <td class="tiers" style="background-color: {{$bgColor}};">
                            {{$letter}}
                        </td>
                        <td>
                            <div style="min-height: 50px;">
                                {{range $cardIds}}
                                    {{$card := index $.Metadata .}}
                                    <a href="{{$card.SearchURL}}"><img loading="lazy" style="margin: 5px;" src="{{$card.ImageURL}}" width=146 height=204></a>
                                {{end}}
                            </div>
                        </td>
                    </tr>
                {{end}}
            </table>
        </div>
        <br>
    {{end}}
</div>
</body>
</html>
