<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <title>Stripe Pricing Table</title>
    <script async src="https://js.stripe.com/v3/pricing-table.js"></script>
</head>
<body class="light-theme">
    <stripe-pricing-table pricing-table-id="prctbl_1NxLEfCH5ISknTrDcW5Q8UUg" publishable-key="pk_test_51Mt9ljCH5ISknTrDOTYlYLQROTcGLEEccvQljztV15I8ptx2pYGeMLZvHwCaehXwphBimXX5hjZpAXGhSvuB60RJ00VVAPmy67"></stripe-pricing-table>
    <button onclick="goBack()">Go Back</button>

    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</body>
</html>