<!DOCTYPE html>
<html>
<head>
    <link href='https://fonts.googleapis.com/css?family=Rosario:400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <link rel="stylesheet" type="text/css" href="../css/tooltip.css">
    <link href="//cdn.jsdelivr.net/npm/keyrune@latest/css/keyrune.css" rel="stylesheet" type="text/css" />
    <title>{{.Title}}</title>
</head>

<body class="light-theme">
<script type="text/javascript" src="../js/themechecker.js"></script>
<nav>
    <ul>
        <li><a href="https://www.patreon.com/ban_community"><img src="img/misc/patreon.png" width=48></a></li>
        <li><a href="/discord"><img src="img/misc/discord.png" width=48></a></li>
        {{range .Nav}}
            <li>
                <a {{if .Active}}class="{{.Class}}"{{end}} href="{{.Link}}">
                    <span>{{.Short}} {{.Name}}</span>
                </a>
            </li>
        {{end}}
        <li>
            <label class="switch">
                <div>
                    <input type="checkbox"/>
                    <span class="slider"></span>
                </div>
                <script type="text/javascript" src="../js/nightmode.js"></script>
            </label>
        </li>
    </ul>
</nav>

<div class="mainbody">
    {{if ne .ErrorMessage ""}}
        <h1>{{.ErrorMessage}}</h1>
        {{if .ShowPromo}}
            <img class="center" src="img/promo/search.jpg">
        {{end}}
    {{else}}
        <h1>Welcome to BAN Upload</h1>
        <div class="indent">
            <center>
                <form enctype="multipart/form-data" action="/upload" method="post" id="upload_form">
                    <input type="radio" id="retail" name="mode" value="false" {{if not .IsBuylist}}checked{{end}} onchange="reloadSelect('retail')">
                    <label for="retail">Retail</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" id="buylist" name="mode" value="true" {{if .IsBuylist}}checked{{end}} onchange="reloadSelect('buylist')" {{if not .CanBuylist}}disabled{{end}}>
                    <label for="buylist">
                        {{if .CanBuylist}}
                            Buylist
                        {{else}}
                            <div class="tooltip">
                                <span class="tooltiptext">Join Legacy and gain access to buylist prices!</span>
                                <s>Buylist</s>
                            </div>
                        {{end}}
                    </label>
                    <br>
                    <br>
                    <div class="tooltip">
                        <div class="stores-select" id="storesBox"></div>
                        {{if not .CanChangeStores}}
                            <span class="tooltiptext">Increase your tier and customize the list of stores!</span>
                        {{end}}
                    </div>
                    <br>
                    <input type="file" id="file" name="cardListFile" accept=".csv,text/csv,.xls,application/vnd.ms-excel,.xlsx,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" style="display:none;" onchange="pressed()">
                    <input type="hidden" id="gdocURL" name="gdocURL" value="{{.RemoteLinkURL}}">
                    <br>
                    {{if .CardHashes}}
                        {{range .CardHashes}}
                            <input type="hidden" name="hashes" value="{{.}}"/>
                        {{end}}
                        <label for="file" id="fileLabel">Loaded page from Newspaper</label>
                    {{else}}
                        <a class="btn default">
                            <label for="file" id="fileLabel">Select local csv/xls</label>
                        </a>
                        or
                        <a class="btn default" href="javascript:askForURL()" id="urlLabel" title="{{.RemoteLinkURL}}">
                            {{if .RemoteLinkURL}}
                                Remote URL ready
                            {{else}}
                                Load remote URL
                            {{end}}
                        </a>
                        or
                        <a class="btn default" href="javascript:displayTextArea()">
                            Paste freeform text
                        </a>
                        <textarea style="display:none" id="textArea" name="textArea" rows="4" cols="40"></textarea>
                    {{end}}
                    <br><br>

                    <script type="text/javascript">
                        const hiddenBools = [
                            "upload", "download", "estimate",
                        ];
                        function submitForm(field, newWindow) {
                            hiddenBools.forEach(element => {
                                let formField = document.getElementById(element);
                                if (formField) {
                                    formField.value = "";
                                    if (element === field) {
                                        formField.value = "true";
                                    }
                                }
                            })
                            var form = document.getElementById("upload_form")
                            if (form) {
                                form.target = '';
                                if (newWindow) {
                                    form.target = '_blank';
                                }
                            }
                            form.submit();
                        }
                    </script>

                    <input type="hidden" id="download" name="download" value="false"/>
                    <input type="hidden" id="estimate" name="estimate" value="false"/>
                    <input type="submit" id="submit_default" value="&nbsp;&nbsp;Upload&nbsp;&nbsp;" onclick="javascript:submitForm('upload', false);" {{if and (not .RemoteLinkURL) (not .CardHashes)}}disabled{{end}} style="display:inline">
                    {{if .CanBuylist}}
                        <input type="submit" id="submit_download" value="&nbsp;&nbsp;Get CSV&nbsp;&nbsp;" onclick="javascript:submitForm('download', false);" {{if and (not .RemoteLinkURL) (not .CardHashes)}}disabled{{end}} style="display:none">
                        <input type="submit" id="submit_estimate" value="&nbsp;CardConduit&nbsp;" onclick="javascript:submitForm('estimate', true);" {{if and (not .RemoteLinkURL) (not .CardHashes)}}disabled{{end}} style="display:none">
                    {{end}}
                    {{if .Optimized}}
                        <input type="button" value="&nbsp;&nbsp;Optimizer&nbsp;&nbsp;" onclick="window.location.href = '#top';" style="display:inline">
                    {{end}}
                    <br>
                    <div id="opts">
                        <a id="advOptsButton" class="info h6inline" style="cursor: pointer;" onClick="javascript:document.getElementById('advOpts').style.display = 'inline'; document.getElementById('advOptsButton').style.display = 'none'">Show optimizer options</a>
                        <div id="advOpts" style="display:none">
                            <label for="lowval">
                                <input type="checkbox" id="lowval" name="lowval" checked onClick="javascript:saveCheckbox('lowval')">
                                <p class="h6inline">Hide low spread offers (below</p>
                                <input type="text" class="w3-border w3-round-small" id="percspread" name="percspread" value=60 size=1 style="text-align:center;" onchange="javascript:saveText('percspread')">
                                <p class="h6inline">% wrt loaded price)</p>
                            </label>
                            <br>
                            <label for="highval">
                                <input type="checkbox" id="highval" name="highval" onClick="javascript:saveCheckbox('highval')">
                                <p class="h6inline">Hide high spread offers (above</p>
                                <input type="text" class="w3-border w3-round-small" id="percspreadmax" name="percspreadmax" value=0 size=1 style="text-align:center;" onchange="javascript:saveText('percspreadmax')">
                                <p class="h6inline">% wrt loaded price)</p>
                            </label>
                            <br>
                            <label for="lowvalabs">
                                <input type="checkbox" id="lowvalabs" name="lowvalabs" checked onClick="javascript:saveCheckbox('lowvalabs')">
                                <p class="h6inline">Hide low value offers (buylist below $</p>
                                <input type="text" class="w3-border w3-round-small" id="minval" name="minval" value=1 size=1 style="text-align:center;" onchange="javascript:saveText('minval')">
                                <p class="h6inline">)</p>
                            </label>
                            <br>
                            <label for="highvalabs">
                                <input type="checkbox" id="highvalabs" name="highvalabs" onClick="javascript:saveCheckbox('highvalabs')">
                                <p class="h6inline">Hide high value offers (buylist above $</p>
                                <input type="text" class="w3-border w3-round-small" id="maxval" name="maxval" value=0 size=1 style="text-align:center;" onchange="javascript:saveText('maxval')">
                                <p class="h6inline">)</p>
                            </label>
                            <br>
                            <label for="margin">
                                <input type="checkbox" id="minmargin" name="minmargin" checked onClick="javascript:saveCheckbox('minmargin')">
                                <p class="h6inline">Allow</p>
                                <input type="text" class="w3-border w3-round-small" id="margin" name="margin" value=10 size=1 style="text-align:center;" onchange="javascript:saveText('margin')">
                                <p class="h6inline">% difference in offers for multiple selections</p>
                            </label>
                            <br>
                            <label for="nocond">
                                <input type="checkbox" id="nocond" name="nocond" onClick="javascript:saveCheckbox('nocond')">
                                <p class="h6inline">Ignore conditions when loading data</p>
                            </label>
                            <br>
                            <label for="noprice">
                                <input type="checkbox" id="noprice" name="noprice" onClick="javascript:saveCheckbox('noprice')">
                                <p class="h6inline">Ignore prices when loading data (<i>use TCG Low instead</i>)</p>
                            </label>
                            <br>
                            <label for="noresults">
                                <input type="checkbox" id="noresults" name="noresults" onClick="javascript:saveCheckbox('noresults')">
                                <p class="h6inline">Skip main results, only show Optimizer</p>
                            </label>
                            <br>
                            <label for="sorting">
                                <p class="h6inline">Sort results by</p>
                                <select id="sorting" name="sorting" onChange="javascript:saveText('sorting')" style="text-align-last=center;">
                                    <option value="" selected>&nbsp;set/name/number</option>
                                    <option value="highprice">&nbsp;highest offer</option>
                                    <option value="highspread">&nbsp;highest spread</option>
                                </select>
                            </label>
                        </div>
                    </div>
                </form>
            </center>
        </div>
        <script type="text/javascript">
            function saveCheckbox(box) {
                var checkbox = document.getElementById(box);
                localStorage.setItem(box, checkbox.checked);
            }

            function saveText(input) {
                var textInput = document.getElementById(input);
                localStorage.setItem(input, textInput.value);
            }

            const checkboxes = [
                "lowval", "highval", "lowvalabs", "highvalabs", "minmargin", "nocond", "noprice", "noresults",
            ];
            checkboxes.forEach(element => {
                var checked = JSON.parse(localStorage.getItem(element));
                if (checked !== null) {
                    document.getElementById(element).checked = checked;
                }
            })

            const textInputs = [
                "percspread", "percspreadmax", "minval", "maxval", "margin", "sorting"
            ];
            textInputs.forEach(element => {
                var input = localStorage.getItem(element);
                if (input) {
                    document.getElementById(element).value = input;
                }
            })

            window.reloadSelect = function(mode) {
                var selectBox = document.getElementById('storesBox');
                if (selectBox) {
                    const fields = ['submit_download', 'submit_estimate'];
                    if (mode == "buylist") {
                        selectBox.innerHTML = " \
                            {{range .VendorKeys}} \
                                <label for='{{.}}'> \
                                    <input type='checkbox' name='stores' id='{{.}}' value='{{.}}' {{if slice_has $.EnabledVendors .}}checked{{end}}>&nbsp;{{scraper_name .}}</label><br> \
                            {{end}} \
                        ";

                        fields.forEach(element => {
                            var btn = document.getElementById(element);
                            if (btn) {
                                {{if .CanOptimize}}
                                    btn.style.display = "inline"
                                {{else}}
                                    btn.style.display = "none"
                                {{end}}
                            }
                        })

                        document.getElementById('opts').style.display = "inline";
                    } else if (mode == "retail") {
                        selectBox.innerHTML = " \
                            {{range .SellerKeys}} \
                                <label for='{{.}}'> \
                                    <input type='checkbox' name='stores' id='{{.}}' value='{{.}}' {{if slice_has $.EnabledSellers .}}checked{{end}}>&nbsp;{{scraper_name .}}</label><br> \
                            {{end}} \
                        ";

                        fields.forEach(element => {
                            var btn = document.getElementById(element);
                            if (btn) {
                                btn.style.display = "inline"
                            }
                        })

                        document.getElementById('opts').style.display = "none";
                    }
                }
            };
            window.pressed = function(){
                var label = document.getElementById('file');
                if (label.value != "") {
                    var theSplit = label.value.split('\\');
                    fileLabel.innerHTML = theSplit[theSplit.length-1];

                    var input = document.getElementById('gdocURL');
                    input.value = "";

                    var url = document.getElementById('urlLabel');
                    url.innerHTML = "Select spreadsheet";

                    const fields = ['submit_default', 'submit_download', 'submit_estimate'];

                    fields.forEach(element => {
                        var btn = document.getElementById(element);
                        if (btn) {
                            btn.disabled = false;
                        }
                    })
                }
            };
            window.askForURL = function(){
                let url = prompt("Please enter your URL here", "{{.RemoteLinkURL}}");
                if (url != null && (url.startsWith("https://docs.google.com/spreadsheets/") || url.startsWith("https://store.tcgplayer.com/collection/view/") || url == "")) {
                    if (url == "") {
                        urlLabel.innerHTML = "Load remote URL";
                    } else {
                        urlLabel.innerHTML = "Remote URL ready";

                        var textArea = document.getElementById('textArea');
                        if (textArea) {
                            textArea.value = "";
                        }
                    }
                    urlLabel.title = url
                    fileLabel.innerHTML = "Select local csv/xls";

                    var input = document.getElementById('gdocURL');
                    input.value = url;

                    const fields = ['submit_default', 'submit_download', 'submit_estimate'];

                    fields.forEach(element => {
                        var btn = document.getElementById(element);
                        if (btn) {
                            btn.disabled = (url == "");
                        }
                    })
                } else if (url != null) {
                    alert("Invalid URL");
                }
            };
            window.displayTextArea = function(){
                var textArea = document.getElementById('textArea');
                textArea.style.display = "block";

                const fields = ['submit_default', 'submit_download', 'submit_estimate'];

                fields.forEach(element => {
                    var btn = document.getElementById(element);
                    if (btn) {
                        btn.disabled = false;
                    }
                })
            }

            window.onload = (event) => {
                var textArea = document.getElementById('textArea');
                if (textArea) {
                    textArea.value = "";
                }
                reloadSelect({{if $.IsBuylist}}"buylist"{{else}}"retail"{{end}});
            }
        </script>

        <br><hr width=30% style="border: 1px dotted; margin: auto;"><br>

        {{if eq .SearchQuery ""}}
            {{if .WarningMessage}}
                <div class="indent">
                    <h4>There was a problem uploading your file: <i>{{.WarningMessage}}</i></h4>
                </div>
            {{end}}

            <br>
            <div class="indent" style="max-width:85%">
                <h2>Instructions</h2>
                <br>
                <ul class="indent">
                    <li>Upload a file and let the <i>Magic</i> begin!</li>
                    <ul class="indent">
                        <li>This tool can read data from <b>CSV</b>, <b>Excel</b> files, from a remote <b>TCG Collection</b>, or a <b>Google Spreadsheet</b>, or by <b>pasting text</b> directly on the page.</li>
                        <ul class="indent">
                            <li>The Excel sheet can be in any location as long as it contains the <pre>mtgban</pre> indication. Otherwise the system will use the first sheet found.</li>
                            <li>The Google Spreadsheet needs to be publicly accessible from the internet, and there needs to be a sheet named with <pre>mtgban</pre>, or the first sheet found will be used.</li>
                            <li>The URL used will be saved as a preference and you'll be able to use it later.</li>
                            <li>The text area may support a number of decklist formats used in the industry.</li>
                        </ul>
                        <li>Data may be in any format, as long as the file contains a comma or tab separated header in the first row, with sensible indication on what the column contains (eg. <i>card name</i> and <i>edition</i> as a minimum).</li>
                        <li>For this reason, the most popular CSV files are supported out of the box, <b>TCG</b>, <b>Deckbox</b>, <b>BinderPOS</b>, and <b>Cardsphere</b> among others.</li>
                        <li>You can also upload a list of cards or a decklist, with just the card name only. In this case the most recent printing of the card will be used to populate prices.</li>
                        <li>In case of missing data identifying a card (such as a card with the same name with multiple art in the same set) the system will try to pick one for you, and warn you by using a different background.</li>
                        <li>No data is stored on the website, your exports are private to you only.</li>
                        <li>The file cannot be larger than 5MB, and it may contain up to 350 entries (or 1000 in case of Optimizer beta).</li>
                        <li>If a condition field is present, it will be used to adjust the reported prices and totals. It can also used to determine the foiling status of the card.</li>
                        <li>Rows with a Quantity field set to 0 are skipped.</li>
                        <li>Identical card entries with the same condition are merged.</li>
                    </ul>
                    <li>The result will be a page containing Retail or Buylist prices from all the available stores on BAN for each recognised card entry.</li>
                    <ul class="indent">
                        <li>Note that buylist prices are available for our <b>Legacy</b> patrons only.</li>
                        <li>You can filter out unwanted store prices by selecting/deselecting them from the list, pressing CTRL or CMD when clicking on them.</li>
                        <li>Card recognition works best when data strictly follows <b>Scryfall</b> notation. If it fails, try finding your card there and tweaking your entry accordingly.</li>
                        <li>If a card is missing in BAN Search it will be missing here too. In particular tokens and art series cards are not supported.</li>
                        <li>The <pre>aliasing error</pre> happens when a parsed card has multiple variations (such as basic land or a modern promo). To fix this make sure to include the card number or a description of the variant in your file.</li>
                        <li>A final per-store total row will be added at the end, taking into account the quantity information if present.</li>
                        <li>Below that row, you will find a summary of how many cards were not found in any given store, and an estimation (using TCG Low) of the value missing.</li>
                        <li>If price or quantity data is found in your entries, it will be displayed above the results.</li>
                        <li>The Index Overview contains a section of the most popular index prices available. The TCG Direct one is condition-adjusted, and it fallbacks to the TCG Direct Low variant if not available.</li>
                    </ul>
                    <li>If you prefer to download a CSV of your results, instead of browsing them on BAN, you may hit the "Get CSV" button.</li>
                    <li>The CSV will contain all parsed data and pricing available, including the loaded price and condition, but also a custom <b>Notes</b> field: this field will be passed through from your uploaded to the CSV, and can be used, for example, to pass your custom identifier or custom pricing.</li>
                    <li>If anything doesn't work, post your file on Discord and we'll take a look.</li>
                </ul>

                <br>
                <h2>Optimizer (beta)</h2>
                <br>
                <ul class="indent">
                    <li>The optimizer allows you to sort through the results, and group them together by <b>store</b> and by <b>edition</b>.</li>
                    <li>A theoretical maximmum amount, split by store will be provided.</li>
                    <li>If multiple store have a similar price offer, they will all appear in their own section - this might slightly skew highest total results.</li>
                    <li>In the stores breakdown, the store offering will be listed, next to the loaded price, or TCG Low in its absence. The percentage next to it represents the strength of the offer.</li>
                    <li>It is possible to skip low value offerings (less than 60% spread or less than $ 1) by selecting the checkboxes at the top.</li>
                    <li>By default, when multiple stores offer a similar price within a certain range (10% by default) they will be all selected, and found in the list result.</li>
                    <li>The above options can be modified by selecting "Show optimizer options".</li>
                </ul>
             </div>
        {{else}}
            <div class="indent sticky">
                <table class="searchResults" >
                    {{range $.UploadEntries}}
                        {{$qty := .Quantity}}
                        {{$card := (index $.Metadata .CardId)}}
                        <tr class="no-hover" {{if .MismatchAlias}}style="background-color:var(--aliasing)"{{end}}>
                            <td class="fullAnchor" rowspan=2>
                                <center>
                                    {{if .MismatchError}}
                                        <a href="/search?q={{.Card.Name}}" target="_blank">
                                            <img src="https://cards.scryfall.io/back.png" width="87" height="122">
                                        </a>
                                    {{else}}
                                        <a href="{{$card.SearchURL}}" target="_blank">
                                            <img loading="lazy" src="{{$card.ImageURL}}" width="87" height="122">
                                        </a>
                                    {{end}}
                                </center>
                            </td>
                            <td>
                                <table style="margin:0 0 0 0; width:100%; height:100%;">
                                    <tr style="background-color:rgba(0, 0, 0, 0);">
                                    {{if .MismatchError}}
                                        <td class=fullAnchor>
                                            <a class="btn default" href="/search?q={{.Card.Name}}" target="_blank">
                                                <i class="ss ss-1x"></i>
                                                {{if .Card.Name}}
                                                    <b>Unable to find</b> {{.Card.Name}} {{if .Card.Variation}}({{.Card.Variation}}){{end}} <b>in</b> {{.Card.Edition}}
                                                {{else}}
                                                    <b>Unable to parse one entry from your list</b>
                                                {{end}}
                                                <h6>{{.MismatchError}}</h6>
                                            </a>
                                        </td>
                                    {{else}}
                                        <td class="fullAnchor" width="{{if .OriginalPrice}}80%{{else}}100%{{end}}">
                                            <a class="btn default" href="{{$card.SearchURL}}" target="_blank">
                                                <i class="ss {{$card.Keyrune}} ss-1x ss-fw"></i>
                                                <b>{{$card.Name}}</b>
                                                {{if ne $card.Variant ""}}
                                                    <i>({{$card.Variant}})</i>
                                                {{end}}
                                                {{if $card.Reserved}}
                                                    *
                                                {{end}}
                                                {{if $card.Stocks}}
                                                    •
                                                {{end}}
                                                {{if $card.SypList}}
                                                    †
                                                {{end}}
                                                <h6>
                                                    {{$card.Title}}
                                                    {{if .MismatchAlias}}
                                                        (?)
                                                    {{end}}
                                                </h6>
                                            </a>
                                        </td>
                                        <td width=100%>
                                        {{if .OriginalPrice}}
                                            <h6>
                                                <nobr>Your price: $ {{printf "%.2f" .OriginalPrice}}</nobr>
                                            </h6>
                                        {{end}}
                                        {{if .OriginalCondition}}
                                            <h6>
                                                <nobr>Condition: {{.OriginalCondition}}</nobr>
                                            </h6>
                                        {{end}}
                                        {{if .HasQuantity}}
                                             <h6>
                                                 <nobr>Quantity: {{.Quantity}}</nobr>
                                            </h6>
                                        {{end}}
                                        </td>
                                        <td width=100%>
                                            <span class="emoji">
                                                <a href="/search?chart={{.CardId}}" title="See historical data" target="_blank">📊</a>
                                            </span>
                                        </td>
                                    {{end}}
                                    </tr>
                                </table>
                            </td>
                            <td rowspan=2>
                                {{$cardId := .CardId}}
                                {{$ogCardId := .CardId}}
                                {{$conds := ""}}
                                {{$ogConds := .OriginalCondition}}
                                <b>Index overview</b>
                                <br>
                                {{range $.IndexKeys}}
                                    {{$indexName := .}}
                                    {{if eq $indexName "TCG Direct"}}
                                        {{$cardId = (print $cardId $ogConds)}}
                                    {{end}}
                                    {{$indexEntries := (index $.ResultPrices $cardId)}}

                                    {{$price := (index $indexEntries $indexName)}}
                                    {{if and (not $price) (eq $indexName "TCG Direct")}}
                                        {{$indexName = "TCG Direct Low"}}
                                        {{$indexEntries = (index $.ResultPrices $ogCardId)}}
                                        {{$price = (index $indexEntries $indexName)}}
                                    {{end}}

                                    <nobr>
                                        <a class="btn normal" {{if $price}}href="https://mtgban.com/go/{{.}}/{{$cardId}}"{{end}} target="_blank">
                                            {{$indexName}}:
                                        </a>
                                        {{if not $price}}
                                            n/a
                                        {{else}}
                                            $ {{printf "%.2f" $price}}
                                            {{if gt $qty 1}}
                                                (⇨ $ {{printf "%.2f" (mul $price $qty)}})
                                            {{end}}
                                        {{end}}
                                    </nobr>
                                    <br>
                                {{end}}
                                <hr>
                            </td>
                        </tr>
                        <tr class="no-hover" {{if .MismatchAlias}}style="background-color:var(--aliasing)"{{end}}>
                            <td>
                                <table style="margin:0 0 0 0; width:100%; height:100%">
                                    <tr class="no-hover" {{if .MismatchAlias}}style="background-color:var(--antialiasing)"{{else}}style="background-color:rgba(0, 0, 0, 0);"{{end}}>
                                        {{$scraperEntries := (index $.ResultPrices (print .CardId .OriginalCondition))}}
                                        {{$cardId := .CardId}}
                                        {{$oPrice := .OriginalPrice}}
                                        {{range $.ScraperKeys}}
                                            {{$price := (index $scraperEntries .)}}
                                            <td class="fullAnchor" style="border:1px solid black;min-width:50px">
                                                <a class="btn {{if $price}}{{if and $.IsBuylist (and (ne $oPrice 0.0) (lt $oPrice $price))}}success{{else}}normal{{end}}{{else}}default{{end}}" {{if $price}}href="https://mtgban.com/go/{{if $.IsBuylist}}b/{{end}}{{.}}/{{$cardId}}"{{end}} target="_blank">
                                                    {{scraper_name .}}
                                                </a>
                                            </td>
                                        {{end}}
                                    </tr>
                                    <tr class="no-hover" {{if .MismatchAlias}}style="background-color:var(--antialiasing)"{{else}}style="background-color:rgba(0, 0, 0, 0);"{{end}}>
                                        {{range $.ScraperKeys}}
                                            {{$price := (index $scraperEntries .)}}
                                            <td style="border:1px solid black">
                                                <h4 style="text-align:center">
                                                    {{if not $price}}
                                                        -
                                                    {{else}}
                                                        <nobr>$ {{printf "%.2f" $price}}</nobr>
                                                    {{end}}
                                                </h4>
                                            </td>
                                        {{end}}
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    {{end}}
                    <tr class="no-hover" style="background-color: var(--tralternatebase);">
                        <td>
                            <center>
                                <h3>Totals</h3>
                                <div style="height: 2px">&nbsp;</div>
                                <h6>Matches: {{len .ResultPrices}}/{{len .UploadEntries}}</h6>
                                <h6>
                                    {{if ne .TotalQuantity 0}}
                                        Count: {{.TotalQuantity}}
                                    {{else}}
                                        &nbsp;
                                    {{end}}
                                </h6>
                                <div style="height: 10px">&nbsp;</div>
                                <h6>
                                    No {{if $.IsBuylist}}buylist{{else}}retail{{end}} /<br>Alt. Estimate
                                </h6>
                            </center>
                        </td>
                        <td>
                            <br>
                            <table style="margin:0 0 0 0; width:100%; height:100%">
                                <tr class="no-hover" style="background-color:rgba(0, 0, 0, 0);">
                                    {{range $.ScraperKeys}}
                                        {{$entry := (index $.TotalEntries .)}}
                                        <td class="fullAnchor" style="border:1px solid black;min-width:50px">
                                            <a class="btn default">
                                                {{scraper_name .}}
                                            </a>
                                        </td>
                                    {{end}}
                                </tr>
                                <tr class="no-hover"  style="background-color:rgba(0, 0, 0, 0);">
                                    {{range $.ScraperKeys}}
                                        {{$price := (index $.TotalEntries .)}}
                                        <td style="border:1px solid black">
                                            <h4 style="text-align:center">
                                                {{if eq $price 0.0}}
                                                    -
                                                {{else}}
                                                    <nobr>$ {{printf "%.2f" $price}}</nobr>
                                                {{end}}
                                            </h4>
                                        </td>
                                    {{end}}
                                </tr>
                                <tr class="no-hover"  style="background-color:rgba(0, 0, 0, 0);">
                                    {{range $.ScraperKeys}}
                                        {{$price := (index $.MissingPrices .)}}
                                        {{$count := (index $.MissingCounts .)}}
                                        <td style="border:1px solid black">
                                            <h6 style="text-align:center">
                                                {{if $count}}
                                                    {{$count}} / $ {{printf "%.2f" $price}}
                                                {{else}}
                                                -
                                                {{end}}
                                            </h6>
                                        </td>
                                    {{end}}
                                </tr>
                            </table>
                            <br>
                        </td>
                        <td>
                            <b>Index totals</b>
                            {{range $.IndexKeys}}
                                <br>
                                <a class="btn info">{{scraper_name .}}:</a>
                                {{$price := (index $.TotalEntries .)}}
                                {{if $price}}
                                    <nobr>$ {{printf "%.2f" $price}}</nobr>
                                    {{else}}
                                    N/A
                                {{end}}
                            {{end}}
                            <hr>
                        </td>
                    </tr>
                </table>
            </div>

            {{if .Optimized}}
                <div style="clear:both;"></div>

                <hr style="margin-left:20px;" width=58%> <br>

                <img id="hoverImage" src="" style="position:absolute; z-index: 3;"/>
                <script type="text/javascript" src="../js/followmouse.js"></script>
                <script type="text/javascript" src="../js/copy2clip.js"></script>

                <div class="indent sticky">
                    <span class="anchor" id="top"></span>
                    <h2>Buylist Optimizer</h2>
                    <br>
                    <p>
                        {{len .Optimized}} different buylists for a theoretical maximum of $ {{printf "%.2f" .HighestTotal}}
                    </p>
                    <p>
                        {{range .ScraperKeys}}
                            {{$scraperKey := .}}
                            {{$entries := index $.Optimized $scraperKey}}
                            {{if $entries}}
                                <a class="btn default" href="#{{$scraperKey}}">
                                    {{len $entries}} cards to <b>{{scraper_name $scraperKey}}</b>: $ {{printf "%.2f" (index $.OptimizedTotals $scraperKey)}}
                                </a>
                                <br>
                            {{end}}
                        {{end}}
                    </p>
                    <p>
                        See the
                        <a class="btn default" href="#editions">
                            <b>Editions Breakdown</b>
                        </a>
                    </p>

                    <table>
                        {{range .ScraperKeys}}
                            {{$scraperKey := .}}
                            {{$entries := index $.Optimized $scraperKey}}
                            {{if $entries}}
                                <tr>
                                    <span class="anchor" id="{{$scraperKey}}"></span>
                                    <a class="btn default" href="#top">
                                        <b>{{scraper_name $scraperKey}}</b> - $ {{printf "%.2f" (index $.OptimizedTotals $scraperKey)}}
                                    </a>
                                    {{if or (eq $scraperKey "CK") (eq $scraperKey "SCG")}}
                                        <form action="/upload" method="post" id="{{$scraperKey}}hashes">
                                            <input type="hidden" name="mode" value="false"/>
                                            {{range $entries}}
                                                <input type="hidden" name="{{$scraperKey}}hashes" value="{{.CardId}}"/>
                                            {{end}}
                                            <a class="btn success" style="text-align: center;" href='javascript:void(0)' onclick='document.getElementById("{{$scraperKey}}hashes").submit();'>Download {{$scraperKey}} CSV</a>
                                            <noscript>
                                                <input type="submit" value="Download {{$scraperKey}} CSV"/>
                                            </noscript>
                                        </form>
                                    {{end}}
                                    <br>
                                    <table onmouseout="document.getElementById('hoverImage').src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7';">
                                        {{range $entries}}
                                            {{$card := (index $.Metadata .CardId)}}
                                            <tr onmouseover="document.getElementById('hoverImage').src={{$card.ImageURL}};">
                                                <td>
                                                    <span class="emoji" style="cursor: pointer;" onclick="navigator.clipboard.writeText('{{$card.Name}}'); waithide(this)" title="Copy to clipboard">📝</span>&nbsp;
                                                    <a href="{{$card.SearchURL}}" target="_blank">{{$card.Name}}</a>
                                                    {{if not (or (eq .Condition "") (eq .Condition "NM"))}} ({{.Condition}}){{end}}
                                                    {{if $card.Reserved}} *{{end}}
                                                    {{if $card.Stocks}} •{{end}}
                                                    {{if $card.SypList}} †{{end}}
                                                </td>
                                                <td>
                                                    <i class="ss {{$card.Keyrune}} ss-1x ss-fw"></i> {{$card.Edition}}
                                                </td>
                                                <td>
                                                    {{$card.Number}}
                                                </td>
                                                <td>
                                                    {{if $card.Etched}}
                                                        <span title="Etched">💫</span>
                                                    {{else if $card.Foil}}
                                                        <span title="Foil">✨</span>
                                                    {{end}}
                                                </td>
                                                <td>
                                                    {{$scraperEntries := (index $.ResultPrices (print .CardId .Condition))}}
                                                    {{$price := (index $scraperEntries $scraperKey)}}

                                                    $
                                                    <a href="/go/b/{{$scraperKey}}/{{.CardId}}" target="_blank">
                                                        {{printf "%.2f" $price}}
                                                    </a>
                                                    {{if .Price}}
                                                        / $ {{printf "%.2f" .Price}}
                                                        {{if lt .Price $price}}⚠️{{end}}
                                                    {{end}}
                                                </td>
                                                <td>
                                                    {{if .Price}}
                                                        <h{{if gt .Spread 80.0}}3{{else}}4{{end}} style="text-align: right">
                                                            {{printf "%.2f%%" .Spread}}
                                                        </h{{if gt .Spread 80.0}}3{{else}}4{{end}}4>
                                                    {{end}}
                                                </td>
                                            </tr>
                                        {{end}}
                                    </table>
                                    <br>
                                </tr>
                            {{end}}
                        {{end}}
                    </table>

                    <span class="anchor" id="editions"></span>
                    <h2>Editions breakdown</h2>
                    <br>
                    <div class="indent" style="max-width:85%">
                        {{range $.Editions}}
                            {{$entries := index $.OptimizedEditions .}}
                            {{if $entries}}
                                {{$edition := index $.EditionsMap .}}
                                <nobr>
                                    <i class="ss ss-{{$edition.Keyrune}} ss-1x ss-fw"></i>
                                    <a class="btn default" href="#{{.}}">{{$edition.Name}}</a>
                                </nobr>
                            {{end}}
                        {{end}}
                    </div>
                    <br>

                    <table>
                        {{range $.Editions}}
                            {{$entries := index $.OptimizedEditions .}}
                            {{if $entries}}
                                {{$edition := index $.EditionsMap .}}
                                <tr>
                                    <span class="anchor" id="{{.}}"></span>
                                    <a class="btn default" href="#editions">
                                        <i class="ss ss-{{$edition.Keyrune}} ss-1x ss-fw"></i>
                                        <b>{{$edition.Name}}</b>
                                    </a>
                                    <table onmouseout="document.getElementById('hoverImage').src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7';">
                                        {{range $entries}}
                                            {{$card := (index $.Metadata .CardId)}}
                                            <tr onmouseover="document.getElementById('hoverImage').src={{$card.ImageURL}};">
                                                <td>
                                                    <span class="emoji" style="cursor: pointer;" onclick="navigator.clipboard.writeText('{{$card.Name}}'); waithide(this)" title="Copy to clipboard">📝</span>&nbsp;
                                                    <a href="{{$card.SearchURL}}" target="_blank">{{$card.Name}}</a>
                                                    {{if not (or (eq .Condition "") (eq .Condition "NM"))}} ({{.Condition}}){{end}}
                                                    {{if $card.Reserved}} *{{end}}
                                                    {{if $card.Stocks}} •{{end}}
                                                    {{if $card.SypList}} †{{end}}
                                                </td>
                                                <td>
                                                    {{$card.Number}}
                                                </td>
                                                <td>
                                                    {{if $card.Etched}}
                                                        <span title="Etched">💫</span>
                                                    {{else if $card.Foil}}
                                                        <span title="Foil">✨</span>
                                                    {{end}}
                                                </td>
                                                <td>
                                                    {{scraper_name .Store}}
                                                <td>
                                                    {{$scraperEntries := (index $.ResultPrices (print .CardId .Condition))}}
                                                    {{$price := (index $scraperEntries .Store)}}

                                                    $
                                                    <a href="/go/b/{{.Store}}/{{.CardId}}" target="_blank">
                                                        {{printf "%.2f" $price}}
                                                    </a>
                                                    {{if .Price}}
                                                        / $ {{printf "%.2f" .Price}}
                                                        {{if lt .Price $price}}⚠️{{end}}
                                                    {{end}}
                                                </td>
                                                <td>
                                                    {{if .Price}}
                                                        <h{{if gt .Spread 80.0}}3{{else}}4{{end}} style="text-align: right">
                                                            {{printf "%.2f%%" .Spread}}
                                                        </h{{if gt .Spread 80.0}}3{{else}}4{{end}}4>
                                                    {{end}}
                                                </td>
                                            </tr>
                                        {{end}}
                                    </table>
                                    <br>
                                </tr>
                            {{end}}
                        {{end}}
                    </table>
                </div>
            {{end}}
        {{end}}
    {{end}}

    <div style="clear:both;"></div>

    <div class="indent">
        {{if .HasReserved}}
            <h4>* = Part of the <a href="https://mtg.gamepedia.com/Reserved_List">Reserved List</a></h4>
        {{end}}
        {{if .HasStocks}}
            <h4>• = On <a href="https://mtgstocks.com/interests">MTGStocks Interests</a> page</h4>
        {{end}}
        {{if .HasSypList}}
            <h4>† = Found in the <a href="https://help.tcgplayer.com/hc/en-us/articles/360054178934-Store-Your-Products-SYP-Pull-Sheet">SYP Pull Sheet</a></h4>
        {{end}}
    </div>

    {{if ne .InfoMessage ""}}
        <br>
        <div class="indent">
            <h4><i>{{.InfoMessage}}</i></h4>
        </div>
    {{end}}
    <br>
    <br>
</div>
</body>
</html>
