<!DOCTYPE html>
<html>
<head>
    <link href='https://fonts.googleapis.com/css?family=Rosario:400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <link rel="stylesheet" type="text/css" href="../css/tooltip.css">
    <link href="//cdn.jsdelivr.net/npm/keyrune@latest/css/keyrune.css" rel="stylesheet" type="text/css" />
    <title>{{.Title}}</title>
</head>

<body class="light-theme">
<script type="text/javascript" src="../js/themechecker.js"></script>
<nav>
    <ul>
        <li><a href="https://www.patreon.com/ban_community"><img src="img/misc/patreon.png" width=48></a></li>
        <li><a href="/discord"><img src="img/misc/discord.png" width=48></a></li>
        {{range .Nav}}
            <li>
                <a {{if .Active}}class="{{.Class}}"{{end}} href="{{.Link}}">
                    <span>{{.Short}} {{.Name}}</span>
                </a>
            </li>
        {{end}}
        <li>
            <label class="switch">
                <div>
                    <input type="checkbox"/>
                    <span class="slider"></span>
                </div>
                <script type="text/javascript" src="../js/nightmode.js"></script>
            </label>
        </li>
    </ul>
</nav>

<div class="mainbody">
    {{if ne .ErrorMessage ""}}
        <h1>{{.ErrorMessage}}</h1>
        {{if .ShowPromo}}
            <img class="center" src="img/promo/search.jpg">
        {{end}}
    {{else}}
        <h1>Welcome to BAN Upload</h1>
        <div class="indent">
            <center>
                <form enctype="multipart/form-data" action="/upload" method="post">
                    <input type="radio" id="retail" name="mode" value="false" {{if not .IsBuylist}}checked{{end}} onchange="reloadSelect('retail')">
                    <label for="retail">Retail</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" id="buylist" name="mode" value="true" {{if .IsBuylist}}checked{{end}} onchange="reloadSelect('buylist')" {{if not .CanBuylist}}disabled{{end}}>
                    <label for="buylist">
                        {{if .CanBuylist}}
                            Buylist
                        {{else}}
                            <div class="tooltip">
                                <span class="tooltiptext">Join Legacy and gain access to buylist prices!</span>
                                <s>Buylist</s>
                            </div>
                        {{end}}
                    </label>
                    <br>
                    <br>
                    <div class="tooltip">
                        <select name="stores" id="stores" multiple {{if not .CanChangeStores}}disabled{{end}}></select>
                        {{if not .CanChangeStores}}
                            <span class="tooltiptext">Increase your tier and customize the list of stores!</span>
                        {{end}}
                    </div>
                    <br>
                    <input type="file" id="file" name="cardListFile" accept=".csv,text/csv,.xls,application/vnd.ms-excel,.xlsx,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" style="display:none;" onchange="pressed()">
                    <input type="hidden" id="gdocURL" name="gdocURL" value="{{.RemoteLinkURL}}">
                    <br>
                    {{if .CardHashes}}
                        {{range .CardHashes}}
                            <input type="hidden" name="hashes" value="{{.}}"/>
                        {{end}}
                        <label for="file" id="fileLabel">Loaded page from Newspaper</label>
                    {{else}}
                        <a class="btn default">
                            <label for="file" id="fileLabel">Select local csv/xls</label>
                        </a>
                        or
                        <a class="btn default" href="javascript:askForURL()" id="urlLabel" title="{{.RemoteLinkURL}}">
                            {{if .RemoteLinkURL}}
                                Cloud URL loaded
                            {{else}}
                                Load spreadsheet
                            {{end}}
                        </a>
                    {{end}}
                    <br><br>

                    <script type="text/javascript">
                        function downloadResults(val) {
                            var download = document.getElementById('download');
                            download.value = val;
                            var btn = document.getElementById('submit');
                            btn.submit();
                        }
                    </script>

                    <input type="hidden" id="download" name="download" value="false"/>
                    <input type="submit" id="submit" value="&nbsp;&nbsp;Upload&nbsp;&nbsp;" onclick="javascript:downloadResults('false');" {{if and (not .RemoteLinkURL) (not .CardHashes)}}disabled{{end}} style="display:inline">
                    {{if .CanBuylist}}
                        <input type="submit" id="submit_download" value="&nbsp;&nbsp;Get CSV&nbsp;&nbsp;" onclick="javascript:downloadResults('true');" {{if and (not .RemoteLinkURL) (not .CardHashes)}}disabled{{end}} style="display:none">
                    {{end}}
                    {{if .Optimized}}
                        <input type="button" value="&nbsp;&nbsp;Optimizer&nbsp;&nbsp;" onclick="window.location.href = '#top';" style="display:inline">
                    {{end}}
                </form>
            </center>
        </div>
        <script type="text/javascript">
            window.reloadSelect = function(mode) {
                var selectBox = document.getElementById('stores');
                if (selectBox) {
                    if (mode == "buylist") {
                        selectBox.innerHTML = " \
                            {{range .VendorKeys}} \
                                <option value='{{.}}' {{if slice_has $.EnabledVendors .}}selected{{end}}>{{scraper_name .}}</option> \
                            {{end}} \
                        ";
                        var submitButton = document.getElementById('submit_download');
                        if (submitButton) {
                            submitButton.style.display = "none"
                        }
                    } else if (mode == "retail") {
                        selectBox.innerHTML = " \
                            {{range .SellerKeys}} \
                                <option value='{{.}}' {{if slice_has $.EnabledSellers .}}selected{{end}}>{{scraper_name .}}</option> \
                            {{end}} \
                        ";
                        var submitButton = document.getElementById('submit_download');
                        if (submitButton) {
                            submitButton.style.display = "inline"
                        }
                    }
                }
            };
            window.pressed = function(){
                var label = document.getElementById('file');
                if (label.value != "") {
                    var theSplit = label.value.split('\\');
                    fileLabel.innerHTML = theSplit[theSplit.length-1];

                    var input = document.getElementById('gdocURL');
                    input.value = "";

                    var url = document.getElementById('urlLabel');
                    url.innerHTML = "Select spreadsheet";

                    var btn = document.getElementById('submit');
                    btn.disabled = false;

                    var btn2 = document.getElementById('submit_download');
                    if (btn2) {
                        btn2.disabled = false;
                    }
               }
            };
            window.askForURL = function(){
                let url = prompt("Please enter the URL for your public Google spreadsheet", "{{.RemoteLinkURL}}");
                if (url != null && url.startsWith("https://docs.google.com/spreadsheets/")) {
                    urlLabel.innerHTML = "Cloud URL loaded"
                    urlLabel.title = url
                    fileLabel.innerHTML = "Select local csv/xls";

                    var input = document.getElementById('gdocURL');
                    input.value = url;

                    var btn = document.getElementById('submit');
                    btn.disabled = false;

                    var btn2 = document.getElementById('submit_download');
                    if (btn2) {
                        btn2.disabled = false;
                    }
                } else if (url != null && url != "") {
                    alert("Invalid URL");
                }
            };

            window.onload = (event) => {
                reloadSelect({{if $.IsBuylist}}"buylist"{{else}}"retail"{{end}});
            }
        </script>

        <br><hr width=30% style="border: 1px dotted; margin: auto;"><br>

        {{if eq .SearchQuery ""}}
            {{if .WarningMessage}}
                <div class="indent">
                    <h4>There was a problem uploading your file: <i>{{.WarningMessage}}</i></h4>
                </div>
            {{end}}

            <br>
            <div class="indent" style="max-width:85%">
                <h2>Instructions</h2>
                <br>
                <ul class="indent">
                    <li>Upload a file and let the <i>Magic</i> begin!</li>
                    <ul class="indent">
                        <li>This tool can read data from <b>CSV</b>, <b>Excel</b> files, or from a remote <b>Google Spreadsheets</b>.</li>
                        <ul class="indent">
                            <li>The Excel sheet can be in any location as long as it contains the <pre>mtgban</pre> indication. Otherwise the system will use the first sheet found.</li>
                            <li>The Google Spreadsheet needs to be publicly accessible from the internet, and there needs to be a sheet named with <pre>mtgban</pre>, or the first sheet found will be used.</li>
                            <li>The URL used will be saved as a preference and you'll be able to use it later.</li>
                        </ul>
                        <li>Data may be in any format, as long as the file contains a comma or tab separated header in the first row, with sensible indication on what the column contains (eg. <i>card name</i> and <i>edition</i> as a minimum).</li>
                        <li>For this reason, the most popular CSV files are supported out of the box, <b>TCG</b>, <b>Deckbox</b>, <b>BinderPOS</b>, and <b>Cardsphere</b> among others.</li>
                        <li>You can also upload a list of cards or a decklist, with just the card name only. In this case the most recent printing of the card will be used to populate prices.</li>
                        <li>In case of missing data identifying a card (such as a card with the same name with multiple art in the same set) the system will try to pick one for you, and warn you by using a different background.</li>
                        <li>No data is stored on the website, your exports are private to you only.</li>
                        <li>The file cannot be larger than 5MB, and it may contain up to 250 entries.</li>
                        <li>The conditions fields is used only to determine the foiling status.</li>
                        <li>Rows with a Quantity field set to 0 are skipped.</li>
                    </ul>
                    <li>The result will be a page containing Retail or Buylist prices from all the available stores on BAN for each recognised card entry.</li>
                    <ul class="indent">
                        <li>Note that buylist prices are available for our <b>Legacy</b> patrons only.</li>
                        <li>You can filter out unwanted store prices by selecting/deselecting them from the list, pressing CTRL or CMD when clicking on them.</li>
                        <li>Card recognition works best when data strictly follows <b>Scryfall</b> notation. If it fails, try finding your card there and tweaking your entry accordingly.</li>
                        <li>If a card is missing in BAN Searchm it will be missing here too. In particular tokens and art series cards are not supported.</li>
                        <li>The <pre>aliasing error</pre> happens when a parsed card has multiple variations (such as basic land or a modern promo). To fix this make sure to include the card number or a description of the variant in your file.</li>
                        <li>A final per-store total row will be added at the end, taking into account the quantity information if present.</li>
                        <li>Below that row, you will find a summary of how many cards were not found in any given store, and an estimation (using TCG Low) of the value missing.</li>
                        <li>If price or quantity data is found in your entries, it will be displayed above the results.</li>
                    </ul>
                    <li>If you prefer to download a CSV of your results, instead of browsing them on BAN, you may hit the "Get CSV" button.</li>
                    <li>If anything doesn't work, post your file on Discord and we'll take a look.</li>
                </ul>
             </div>
        {{else}}
            <div class="indent sticky">
                <table class="searchResults" >
                    {{range $.UploadEntries}}
                        {{$card := (index $.Metadata .CardId)}}
                        <tr class="no-hover" {{if .MismatchAlias}}style="background-color:var(--aliasing)"{{end}}>
                            <td class="fullAnchor" rowspan=2>
                                <center>
                                    {{if .MismatchError}}
                                        <a href="/search?q={{.Card.Name}}" target="_blank">
                                            <img src="https://c1.scryfall.com/file/scryfall-card-backs/large/0a/0aeebaf5-8c7d-4636-9e82-8c27447861f7.jpg" width="87" height="122">
                                        </a>
                                    {{else}}
                                        <a href="{{$card.SearchURL}}" target="_blank">
                                            <img loading="lazy" src="{{$card.ImageURL}}" width="87" height="122">
                                        </a>
                                    {{end}}
                                </center>
                            </td>
                            <td>
                                <table style="margin:0 0 0 0; width:100%; height:100%;">
                                    <tr style="background-color:rgba(0, 0, 0, 0);">
                                    {{if .MismatchError}}
                                        <td class=fullAnchor>
                                            <a class="btn default" href="/search?q={{.Card.Name}}" target="_blank">
                                                <i class="ss ss-1x"></i>
                                                {{if .Card.Name}}
                                                    <b>Unable to find</b> {{.Card.Name}} {{if .Card.Variation}}({{.Card.Variation}}){{end}} <b>in</b> {{.Card.Edition}}
                                                {{else}}
                                                    <b>Unable to parse one entry from your list</b>
                                                {{end}}
                                                <h6>{{.MismatchError}}</h6>
                                            </a>
                                        </td>
                                    {{else}}
                                        <td class="fullAnchor" width="{{if .OriginalPrice}}80%{{else}}100%{{end}}">
                                            <a class="btn default" href="{{$card.SearchURL}}" target="_blank">
                                                <i class="ss {{$card.Keyrune}} ss-1x ss-fw"></i>
                                                <b>{{$card.Name}}</b>
                                                {{if ne $card.Variant ""}}
                                                    <i>({{$card.Variant}})</i>
                                                {{end}}
                                                {{if $card.Reserved}}
                                                    *
                                                {{end}}
                                                {{if $card.Stocks}}
                                                    •
                                                {{end}}
                                                {{if $card.SypList}}
                                                    †
                                                {{end}}
                                                <h6>
                                                    {{$card.Title}}
                                                    {{if .MismatchAlias}}
                                                        (?)
                                                    {{end}}
                                                </h6>
                                            </a>
                                        </td>
                                        <td width=100%>
                                        {{if .OriginalPrice}}
                                            <h6>
                                                <nobr>Your price: $ {{printf "%.2f" .OriginalPrice}}</nobr>
                                            </h6>
                                        {{end}}
                                        {{if .HasQuantity}}
                                             <h6>
                                                 <nobr>Quantity: {{.Quantity}}</nobr>
                                            </h6>
                                        {{end}}
                                        </td>
                                        <td width=100%>
                                            <span class="emoji">
                                                <a href="/search?chart={{.CardId}}" title="See historical data" target="_blank">📊</a>
                                            </span>
                                        </td>
                                    {{end}}
                                    </tr>
                                </table>
                            </td>
                            <td rowspan=2>
                                {{$cardId := .CardId}}
                                {{$indexEntries := (index $.IndexEntries $cardId)}}
                                {{if $indexEntries}}
                                    <b>Index overview</b>
                                    <br>
                                    {{range $.IndexKeys}}
                                        {{if $indexEntries}}
                                            {{$entry := (index $indexEntries .)}}
                                            <nobr>
                                                <a class="btn normal" {{if $entry}}href="https://mtgban.com/go/{{.}}/{{$cardId}}"{{end}} target="_blank">
                                                    {{.}}:
                                                </a>
                                                {{if not $entry}}
                                                    n/a
                                                {{else}}
                                                    $ {{printf "%.2f" (banprice2price $entry)}}
                                                {{end}}
                                            </nobr>
                                        {{end}}
                                        <br>
                                    {{end}}
                                    <hr>
                                {{end}}
                            </td>
                        </tr>
                        <tr class="no-hover" {{if .MismatchAlias}}style="background-color:var(--aliasing)"{{end}}>
                            <td>
                                <table style="margin:0 0 0 0; width:100%; height:100%">
                                    <tr class="no-hover" {{if .MismatchAlias}}style="background-color:var(--antialiasing)"{{else}}style="background-color:rgba(0, 0, 0, 0);"{{end}}>
                                        {{$scraperEntries := (index $.CompactEntries .CardId)}}
                                        {{$cardId := .CardId}}
                                        {{$oPrice := .OriginalPrice}}
                                        {{range $.ScraperKeys}}
                                            {{$entry := (index $scraperEntries .)}}
                                            {{$price := banprice2price $entry}}
                                            <td class="fullAnchor" style="border:1px solid black;min-width:50px">
                                                <a class="btn {{if $entry}}{{if and $.IsBuylist (and (ne $oPrice 0.0) (lt $oPrice $price))}}success{{else}}normal{{end}}{{else}}default{{end}}" {{if $entry}}href="https://mtgban.com/go/{{if $.IsBuylist}}b/{{end}}{{.}}/{{$cardId}}"{{end}} target="_blank">
                                                    {{scraper_name .}}
                                                </a>
                                            </td>
                                        {{end}}
                                    </tr>
                                    <tr class="no-hover" {{if .MismatchAlias}}style="background-color:var(--antialiasing)"{{else}}style="background-color:rgba(0, 0, 0, 0);"{{end}}>
                                        {{range $.ScraperKeys}}
                                            {{$entry := (index $scraperEntries .)}}
                                            <td style="border:1px solid black">
                                                <h4 style="text-align:center">
                                                    {{if not $entry}}
                                                        -
                                                    {{else}}
                                                        <nobr>$ {{printf "%.2f" (banprice2price $entry)}}</nobr>
                                                    {{end}}
                                                </h4>
                                            </td>
                                        {{end}}
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    {{end}}
                    <tr class="no-hover" style="background-color: var(--tralternatebase);">
                        <td>
                            <center>
                                <h3>Totals</h3>
                                <div style="height: 2px">&nbsp;</div>
                                <h6>Matches: {{len .CompactEntries}}/{{len .UploadEntries}}</h6>
                                <h6>
                                    {{if ne .TotalQuantity 0}}
                                        Count: {{.TotalQuantity}}
                                    {{else}}
                                        &nbsp;
                                    {{end}}
                                </h6>
                                <div style="height: 10px">&nbsp;</div>
                                <h6>
                                    No {{if $.IsBuylist}}buylist{{else}}retail{{end}} /<br>Alt. Estimate
                                </h6>
                            </center>
                        </td>
                        <td>
                            <br>
                            <table style="margin:0 0 0 0; width:100%; height:100%">
                                <tr class="no-hover" style="background-color:rgba(0, 0, 0, 0);">
                                    {{range $.ScraperKeys}}
                                        {{$entry := (index $.TotalEntries .)}}
                                        <td class="fullAnchor" style="border:1px solid black;min-width:50px">
                                            <a class="btn default">
                                                {{scraper_name .}}
                                            </a>
                                        </td>
                                    {{end}}
                                </tr>
                                <tr class="no-hover"  style="background-color:rgba(0, 0, 0, 0);">
                                    {{range $.ScraperKeys}}
                                        {{$price := (index $.TotalEntries .)}}
                                        <td style="border:1px solid black">
                                            <h4 style="text-align:center">
                                                {{if eq $price 0.0}}
                                                    -
                                                {{else}}
                                                    <nobr>$ {{printf "%.2f" $price}}</nobr>
                                                {{end}}
                                            </h4>
                                        </td>
                                    {{end}}
                                </tr>
                                <tr class="no-hover"  style="background-color:rgba(0, 0, 0, 0);">
                                    {{range $.ScraperKeys}}
                                        {{$price := (index $.MissingPrices .)}}
                                        {{$count := (index $.MissingCounts .)}}
                                        <td style="border:1px solid black">
                                            <h6 style="text-align:center">
                                                {{if $count}}
                                                    {{$count}} / $ {{printf "%.2f" $price}}
                                                {{else}}
                                                -
                                                {{end}}
                                            </h6>
                                        </td>
                                    {{end}}
                                </tr>
                            </table>
                            <br>
                        </td>
                        <td>
                            {{$price := (index $.TotalEntries "TCG Low")}}
                            {{if $price}}
                                <b>Index total</b>
                                <br>
                                <a class="btn info">
                                    {{scraper_name "TCG Low"}}:
                                </a>
                                <nobr>$ {{printf "%.2f" $price}}</nobr>
                                    <hr>
                            {{end}}
                        </td>
                    </tr>
                </table>
            </div>

            {{if .Optimized}}
                <div style="clear:both;"></div>

                <hr style="margin-left:20px;" width=58%> <br>

                <img id="hoverImage" src="" style="position:absolute; z-index: 3;"/>

                <script type="text/javascript">
                    var hoverImage = document.getElementById("hoverImage");

                    document.addEventListener("mousemove", getMouse);

                    setInterval(followMouse, 10);

                    var mouse = {x:0, y:0}; //mouse.x, mouse.y

                    function getMouse(e){
                        mouse.x = e.pageX+10;
                        mouse.y = e.pageY+10;
                    }

                    function followMouse(){
                        hoverImage.style.left = mouse.x + "px";
                        hoverImage.style.top = mouse.y + "px";
                    }
                </script>

                <div class="indent sticky">
                    <span class="anchor" id="top"></span>
                    <h2>Buylist Optimizer</h2>
                    <br>
                    <p>
                        {{len .Optimized}} different buylists for a theoretical maximum of $ {{printf "%.2f" .HighestTotal}}
                    </p>
                    <p>
                        {{range .ScraperKeys}}
                            {{$scraperKey := .}}
                            {{$entries := index $.Optimized $scraperKey}}
                            {{if $entries}}
                                <a class="btn default" href="#{{$scraperKey}}">
                                    {{len $entries}} cards to <b>{{scraper_name $scraperKey}}</b>: $ {{printf "%.2f" (index $.OptimizedTotals $scraperKey)}}
                                </a>
                                <br>
                            {{end}}
                        {{end}}
                    </p>
                    <p>
                        See the
                        <a class="btn default" href="#editions">
                            <b>Editions Breakdown</b>
                        </a>
                    </p>

                    <table>
                        {{range .ScraperKeys}}
                            {{$scraperKey := .}}
                            {{$entries := index $.Optimized $scraperKey}}
                            {{if $entries}}
                                <tr>
                                    <span class="anchor" id="{{$scraperKey}}"></span>
                                    <a class="btn default" href="#top">
                                        <b>{{scraper_name $scraperKey}}</b> - $ {{printf "%.2f" (index $.OptimizedTotals $scraperKey)}}<br>
                                    </a>
                                    <table onmouseout="document.getElementById('hoverImage').src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7';">
                                        {{range $entries}}
                                            {{$card := (index $.Metadata .)}}
                                            <tr onmouseover="document.getElementById('hoverImage').src={{$card.ImageURL}};">
                                                {{$tcgLow := 0.0}}
                                                {{$indexEntries := (index $.IndexEntries .)}}
                                                {{if $indexEntries}}
                                                    {{$entry := (index $indexEntries "TCG Low")}}
                                                    {{$tcgLow = (banprice2price $entry)}}
                                                {{end}}

                                                <td>
                                                    <a href="{{$card.SearchURL}}" target="_blank">{{$card.Name}}</a>
                                                    {{if $card.Reserved}} *{{end}}
                                                    {{if $card.Stocks}} •{{end}}
                                                    {{if $card.SypList}} †{{end}}
                                                </td>
                                                <td>
                                                    <i class="ss {{$card.Keyrune}} ss-1x ss-fw"></i> {{$card.Edition}}
                                                </td>
                                                <td>
                                                    {{$card.Number}}
                                                </td>
                                                <td>
                                                    {{if $card.Etched}}
                                                        <span title="Etched">💫</span>
                                                    {{else if $card.Foil}}
                                                        <span title="Foil">✨</span>
                                                    {{end}}
                                                </td>
                                                <td>
                                                    {{$scraperEntries := (index $.CompactEntries .)}}
                                                    {{$subEntry := (index $scraperEntries $scraperKey)}}
                                                    {{$price := (banprice2price $subEntry)}}

                                                    $
                                                    <a href="/go/b/{{$scraperKey}}/{{.}}" target="_blank">
                                                        {{printf "%.2f" $price}}
                                                    </a>
                                                    {{if $tcgLow}}
                                                        / $ {{printf "%.2f" $tcgLow}}
                                                        {{if lt $tcgLow $price}}⚠️{{end}}
                                                    {{end}}
                                                </td>
                                            </tr>
                                        {{end}}
                                    </table>
                                    <br>
                                </tr>
                            {{end}}
                        {{end}}
                    </table>

                    <span class="anchor" id="editions"></span>
                    <h2>Editions breakdown</h2>
                    <br>
                    <div class="indent" style="max-width:85%">
                        {{range $.Editions}}
                            {{$entries := index $.OptimizedEditions .}}
                            {{if $entries}}
                                {{$edition := index $.EditionsMap .}}
                                <nobr>
                                    <i class="ss ss-{{$edition.Keyrune}} ss-1x ss-fw"></i>
                                    <a class="btn default" href="#{{.}}">{{$edition.Name}}</a>
                                </nobr>
                            {{end}}
                        {{end}}
                    </div>
                    <br>

                    <table>
                        {{range $.Editions}}
                            {{$entries := index $.OptimizedEditions .}}
                            {{if $entries}}
                                {{$edition := index $.EditionsMap .}}
                                <tr>
                                    <span class="anchor" id="{{.}}"></span>
                                    <a class="btn default" href="#editions">
                                        <i class="ss ss-{{$edition.Keyrune}} ss-1x ss-fw"></i>
                                        <b>{{$edition.Name}}</b>
                                    </a>
                                    <table onmouseout="document.getElementById('hoverImage').src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7';">
                                        {{range $entries}}
                                            {{$card := (index $.Metadata .CardId)}}
                                            <tr onmouseover="document.getElementById('hoverImage').src={{$card.ImageURL}};">
                                                {{$tcgLow := 0.0}}
                                                {{$indexEntries := (index $.IndexEntries .CardId)}}
                                                {{if $indexEntries}}
                                                    {{$entry := (index $indexEntries "TCG Low")}}
                                                    {{$tcgLow = (banprice2price $entry)}}
                                                {{end}}

                                                <td>
                                                    <a href="{{$card.SearchURL}}" target="_blank">{{$card.Name}}</a>
                                                    {{if $card.Reserved}} *{{end}}
                                                    {{if $card.Stocks}} •{{end}}
                                                    {{if $card.SypList}} †{{end}}
                                                </td>
                                                <td>
                                                    {{$card.Number}}
                                                </td>
                                                <td>
                                                    {{if $card.Etched}}
                                                        <span title="Etched">💫</span>
                                                    {{else if $card.Foil}}
                                                        <span title="Foil">✨</span>
                                                    {{end}}
                                                </td>
                                                <td>
                                                    {{scraper_name .Store}}
                                                <td>
                                                    {{$scraperEntries := (index $.CompactEntries .CardId)}}
                                                    {{$subEntry := (index $scraperEntries .Store)}}
                                                    {{$price := (banprice2price $subEntry)}}

                                                    $
                                                    <a href="/go/b/{{.Store}}/{{.CardId}}" target="_blank">
                                                        {{printf "%.2f" $price}}
                                                    </a>
                                                    {{if $tcgLow}}
                                                        / $ {{printf "%.2f" $tcgLow}}
                                                        {{if lt $tcgLow $price}}⚠️{{end}}
                                                    {{end}}
                                                </td>
                                            </tr>
                                        {{end}}
                                    </table>
                                    <br>
                                </tr>
                            {{end}}
                        {{end}}
                    </table>
                </div>
            {{end}}
        {{end}}
    {{end}}

    <div style="clear:both;"></div>

    <div class="indent">
        {{if .HasReserved}}
            <h4>* = Part of the <a href="https://mtg.gamepedia.com/Reserved_List">Reserved List</a></h4>
        {{end}}
        {{if .HasStocks}}
            <h4>• = On <a href="https://mtgstocks.com/interests">MTGStocks Interests</a> page</h4>
        {{end}}
        {{if .HasSypList}}
            <h4>† = Found in the <a href="https://help.tcgplayer.com/hc/en-us/articles/360054178934-Store-Your-Products-SYP-Pull-Sheet">SYP Pull Sheet</a></h4>
        {{end}}
    </div>

    {{if ne .InfoMessage ""}}
        <br>
        <div class="indent">
            <h4><i>{{.InfoMessage}}</i></h4>
        </div>
    {{end}}
    <br>
    <br>
</div>
</body>
</html>
